<div class="contain-card-subscription">
  <div>
    <div class="card-text-description">
      <i class="fi fi-sr-membership" aria-hidden="true"></i>
      <p>Seja um assinante</p>
    </div>
    <ul>
      <li>
        <i class="fi fi-sr-check" aria-hidden="true"></i>
        <p>Acesse benefícios personalizados</p>
      </li>
      <li>
        <i class="fi fi-sr-check" aria-hidden="true"></i>
        <p>Explore recursos premium</p>
      </li>
      <li>
        <i class="fi fi-sr-check" aria-hidden="true"></i>
        <p>Amplie sua experiência</p>
      </li>
      <li>
        <i class="fi fi-sr-check" aria-hidden="true"></i>
        <p>Desbloqueie novas funcionalidades</p>
      </li>
    </ul>
  </div>
  <div class="button-container">
    <button appButtonStyle class="button" [buttonType]="'primary'">
      Assinar plano
    </button>
  </div>
</div>
