<div class="contain-card-subscription">
  <div>
    <div class="card-text-description">
      <span class="material-icons-outlined card-icon" aria-hidden="true"
        >workspace_premium</span
      >
      <p>{{ "text.becomeSubscriber" | translate }}</p>
    </div>
    <ul>
      <li>
        <span class="material-icons-outlined card-icon" aria-hidden="true"
          >check_circle</span
        >
        <p>{{ "text.personalizedBenefits" | translate }}</p>
      </li>
      <li>
        <span class="material-icons-outlined card-icon" aria-hidden="true"
          >check_circle</span
        >
        <p>{{ "text.explorePremium" | translate }}</p>
      </li>
      <li>
        <span class="material-icons-outlined card-icon" aria-hidden="true"
          >check_circle</span
        >
        <p>{{ "text.expandExperience" | translate }}</p>
      </li>
      <li>
        <span class="material-icons-outlined card-icon" aria-hidden="true"
          >check_circle</span
        >
        <p>{{ "text.unlockNewFeatures" | translate }}</p>
      </li>
    </ul>
  </div>
  <div class="button-container">
    <button
      appButtonStyle
      class="button"
      [buttonType]="'primary'"
      (click)="handleClickButton()"
    >
      {{ "button.subscribePlan" | translate }}
    </button>
  </div>
</div>
