<div class="contain-card-subscription">
  <div>
    <div class="card-text-description">
      <i class="fi fi-sr-membership" aria-hidden="true"></i>
      <p>{{ "text.becomeSubscriber" | translate }}</p>
    </div>
    <ul>
      <li>
        <i class="fi fi-sr-check" aria-hidden="true"></i>
        <p>{{ "text.personalizedBenefits" | translate }}</p>
      </li>
      <li>
        <i class="fi fi-sr-check" aria-hidden="true"></i>
        <p>{{ "text.explorePremium" | translate }}</p>
      </li>
      <li>
        <i class="fi fi-sr-check" aria-hidden="true"></i>
        <p>{{ "text.expandExperience" | translate }}</p>
      </li>
      <li>
        <i class="fi fi-sr-check" aria-hidden="true"></i>
        <p>{{ "text.unlockNewFeatures" | translate }}</p>
      </li>
    </ul>
  </div>
  <div class="button-container">
    <button
      appButtonStyle
      class="button"
      [buttonType]="'primary'"
      (click)="handleClickButton()"
    >
      {{ "button.subscribePlan" | translate }}
    </button>
  </div>
</div>
