.container {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.espace-top {
  margin-top: 2rem;
}

h1,
h2 {
  padding-bottom: 10px;
}
h1 {
  margin-bottom: 20px;
}
p,
ul {
  line-height: 1.5;
  margin-left: 1rem;
  margin-top: 1rem;
}
.section {
  margin-top: 20px;
}

.contain-back-button {
  width: 100%;
  margin-bottom: 1rem;
}
