<div class="container">
  <div class="contain-back-button">
    <img src="assets/icon-static/arrow-left.svg" (click)="goToBack()" alt="" />
  </div>

  <h1 class="espace-top">Política de Privacidade - DatingMatch</h1>

  <div class="section">
    <h2>1. Introdução</h2>
    <p>
      Bem-vindo ao DatingMatch! Esta Política de Privacidade descreve como
      coletamos, usamos e protegemos suas informações pessoais ao usar nosso
      aplicativo. É essencial que você leia e compreenda essa política, pois ao
      usar o DatingMatch, você concorda com as práticas aqui descritas.
    </p>
  </div>

  <div class="section">
    <h2>2. Informações Coletadas</h2>
    <p>
      Para proporcionar a melhor experiência, coletamos vários tipos de
      informações, conforme detalhado abaixo:
    </p>

    <h3>2.1 Câmera e Imagens</h3>
    <p>
      O DatingMatch requer acesso à sua câmera para capturar fotos e vídeos que
      você decide compartilhar com outros usuários. Nós não acessaremos ou
      armazenaremos qualquer mídia sem seu consentimento explícito.
    </p>

    <h3>2.2 Geolocalização</h3>
    <p>
      Coletamos dados de localização para aprimorar a precisão de recursos e
      melhorar a experiência de uso, como sugerir contatos próximos. Você pode
      ajustar suas preferências de localização nas configurações do dispositivo.
    </p>

    <h3>2.3 Gravação de Áudio</h3>
    <p>
      Para permitir o envio de mensagens de voz, pedimos permissão para acessar
      o microfone do seu dispositivo. O áudio é gravado e compartilhado apenas
      quando você opta por enviar mensagens de voz.
    </p>
  </div>

  <div class="section">
    <h2>3. Uso das Informações</h2>
    <p>As informações coletadas são utilizadas para:</p>
    <ul>
      <li>
        Melhorar a interação e a segurança entre os usuários do DatingMatch;
      </li>
      <li>
        Fornecer recomendações de contatos e funcionalidades personalizadas;
      </li>
      <li>
        Permitir que os usuários compartilhem imagens, áudio e mensagens de
        forma fácil e segura.
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>4. Compartilhamento de Informações</h2>
    <p>Não compartilhamos informações pessoais com terceiros, exceto para:</p>
    <ul>
      <li>
        Provedores de serviços contratados, que seguem nossas diretrizes de
        segurança;
      </li>
      <li>
        Cumprir requisitos legais e cooperar com autoridades quando necessário.
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>5. Segurança dos Dados</h2>
    <p>
      Adotamos medidas de segurança avançadas para proteger suas informações
      pessoais contra acesso não autorizado, uso indevido ou divulgação. No
      entanto, lembre-se de que nenhum sistema de segurança é infalível.
    </p>
  </div>

  <div class="section">
    <h2>6. Seus Direitos</h2>
    <p>
      De acordo com as leis de proteção de dados aplicáveis, você tem o direito
      de:
    </p>
    <ul>
      <li>Acessar suas informações pessoais;</li>
      <li>Solicitar a correção de dados incorretos ou desatualizados;</li>
      <li>Solicitar a exclusão de suas informações.</li>
    </ul>
  </div>

  <div class="section">
    <h2>7. Alterações na Política de Privacidade</h2>
    <p>
      Essa política pode ser atualizada periodicamente. Notificaremos você sobre
      quaisquer mudanças significativas através do aplicativo ou por outros
      meios apropriados.
    </p>
  </div>

  <div class="section">
    <h2>8. Contato</h2>
    <p>
      Em caso de dúvidas ou preocupações sobre esta política, entre em contato
      conosco através do suporte no aplicativo ou no e-mail:
      datingmatch.contato#64;gmail.com.br.
    </p>
  </div>

  <div class="section">
    <h2>9. Aplicativo em Fase Beta</h2>
    <p>
      O DatingMatch está atualmente em fase de testes (beta). Durante esse
      período, podem ocorrer instabilidades ou intermitências no funcionamento
      do aplicativo, incluindo, mas não se limitando a:
    </p>
    <ul>
      <li>Funcionalidades que podem não operar como esperado;</li>
      <li>Interrupções temporárias no serviço;</li>
      <li>Atrasos no envio ou recebimento de mensagens;</li>
      <li>
        Problemas de compatibilidade com determinados dispositivos ou versões de
        sistemas operacionais.
      </li>
    </ul>
    <p>
      Estamos trabalhando continuamente para identificar e corrigir essas
      questões. Caso você encontre problemas ou tenha sugestões, pedimos que
      entre em contato conosco através do suporte no aplicativo ou no e-mail:
      suporte&#64;DatingMatch.com.br. Seu feedback é essencial para nos ajudar a
      melhorar o DatingMatch.
    </p>
    <p>
      Agradecemos pela compreensão e paciência enquanto ajustamos e aprimoramos
      o aplicativo para oferecer uma experiência mais estável e funcional.
    </p>
  </div>
</div>
