<div class="content">
  <div class="header">
    <app-logo-dropmessage [fontSize]="'1rem'"></app-logo-dropmessage>
  </div>

  <div class="container-title-subtitle">
    <h1 class="title">{{ "text.chat" | translate }}</h1>
    <p class="subtitle">{{ "text.shareMomentLimitedTime" | translate }}</p>
  </div>

  @if(loading) {
  <section class="chat-loading">
    @for (item of [1, 2, 3, 4, 5]; track $index) {
    <div class="chat-loading__list">
      <div class="chat-loading__item">
        <div class="chat-loading__avatar-wrapper">
          <div class="chat-loading__avatar skeleton"></div>
          <div class="chat-loading__badge skeleton"></div>
        </div>

        <div class="chat-loading__content">
          <div
            class="chat-loading__line chat-loading__line--primary skeleton"
          ></div>
          <div
            class="chat-loading__line chat-loading__line--secondary skeleton"
          ></div>
        </div>
      </div>
    </div>
    }
  </section>
  } @else if(error) {
  <app-error-request>
    <button appButton="info">{{ "button.tryAgain" | translate }}</button>
  </app-error-request>
  } @else { @if (listChat.length === 0) {
  <section class="chat-empty">
    <div class="chat-empty__illustration">
      <div class="chat-empty__icon-wrapper">
        <span class="material-symbols-outlined chat-empty__icon-main">
          forum
        </span>

        <div class="chat-empty__icon-badge">
          <span class="material-symbols-outlined chat-empty__icon-cancel">
            sentiment_dissatisfied
          </span>
        </div>
      </div>
    </div>

    <div class="chat-empty__content">
      <h2 class="chat-empty__title">
        {{ "text.noMessages" | translate }}
      </h2>

      <p class="chat-empty__description">
        {{ "text.messagesEmptyDescription" | translate }}
      </p>
    </div>
  </section>
  } @else { @for (chat of listChat; track $index) {
  <div class="chat" (click)="goToChat(chat)">
    <div class="chat__avatar-wrapper">
      <img class="chat__avatar" [src]="chat.avatar" />
    </div>
    <div class="chat__content">
      <p class="chat__name">
        <strong>{{ chat.name }}</strong>
      </p>
      <p class="chat__last-message">{{ chat.message }}</p>
    </div>
  </div>
  } } }
</div>
