.contain-card-subscription {
  border-radius: 1rem;
  padding: var(--space-medium);
  color: var(--white);
  line-height: 1.5rem;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.contain-card-subscription::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 3s ease-out 1;
  z-index: 1;
  border-radius: 1rem;
}

@keyframes shimmer {
  0% {
    background-position: -150%;
  }
  100% {
    background-position: 150%;
  }
}

.nickname {
  font-weight: 700;
  font-size: var(--space-medium);
  margin-bottom: var(--space-small);
}

.name-plan {
  font-size: var(--space-large);
  font-weight: 700;
  margin-bottom: var(--space-large);
}

.description {
  font-weight: 700;
  margin-bottom: var(--space-small);
}

.tag {
  display: inline-block !important; /* Ajusta o tamanho ao conteúdo */
  background-color: var(--white);
  border-radius: 1rem; /* Adicione bordas arredondadas, se necessário */
  padding: 0.2rem 0.5rem; /* Ajuste o espaçamento interno */
  margin-bottom: 1rem;
}

.tag p {
  color: #03836a;
  margin: 0; /* Remove margens extras */
  font-size: var(--font-size-small);
}

.current-period-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: var(--space-medium);
}
