<div class="contain-buton-loggout">
  <button (click)="logout()">{{ "button.logout" | translate }}</button>
</div>
<div class="contain">
  <div class="contain-description-location">
    <h1>{{ "text.titleVerifyEmail" | translate }}</h1>
  </div>

  <div class="contain-svg">
    <img
      class="svg"
      src="assets/icon-static/verify-email.svg"
      aria-hidden="true"
    />
  </div>

  <p>{{ "text.subtitleVerifyEmail" | translate }}></p>

  <div class="contain-alert" *ngIf="invalidCode">
    <p>{{ "text.invalidCode" | translate }}</p>
  </div>

  <div class="contain-form">
    <form
      [formGroup]="codeConfirmationEmailFormGroup"
      (submit)="sendCodeEmailConfirmation()"
    >
      <input
        appInputCustom
        [placeholder]="'input.placeholder.codeConfirmation' | translate"
        class="input-send-code"
        formControlName="codeConfirmationEmail"
        pattern="\d*"
        maxlength="6"
        minlength="6"
      />

      <button
        class="button-login"
        type="submit"
        appButtonStyle
        [buttonType]="'secondary'"
        [disabled]="buttonDisalbled || codeConfirmationEmailFormGroup.invalid"
        [disabledButton]="codeConfirmationEmailFormGroup.invalid"
      >
        <app-loading
          *ngIf="isLoadingButton; else titleButtonConfirmeLocation"
          width="22px"
          height="22px"
          lineHeight="2px"
        ></app-loading>

        <ng-template #titleButtonConfirmeLocation>
          <span>{{ "button.codeConfirmation" | translate }}</span>
        </ng-template>
      </button>
    </form>
  </div>
</div>
