<div class="contain-buton-loggout">
  <button (click)="logout()">Sair</button>
</div>
<div class="contain">
  <div class="contain-description-location">
    <h1>Verifique seu e-mail</h1>
  </div>

  <div class="contain-svg">
    <img
      class="svg"
      src="assets/icon-static/verify-email.svg"
      alt="Localização"
    />
  </div>

  <p>Verfique o código que foi enviado para o seu e-mail.</p>

  <div class="contain-alert" *ngIf="invalidCode">
    <p>Ops, código inválido!</p>
  </div>

  <div class="contain-form">
    <form
      [formGroup]="codeConfirmationEmailFormGroup"
      (submit)="sendCodeEmailConfirmation()"
    >
      <input
        appInputCustom
        placeholder="digite o código"
        class="input-send-code"
        formControlName="codeConfirmationEmail"
        pattern="\d*"
        maxlength="6"
        minlength="6"
      />

      <button
        class="button-login"
        type="submit"
        appButtonStyle
        [buttonType]="'secondary'"
        [disabled]="buttonDisalbled || codeConfirmationEmailFormGroup.invalid"
        [disabledButton]="codeConfirmationEmailFormGroup.invalid"
      >
        <app-loading
          *ngIf="isLoadingButton; else titleButtonConfirmeLocation"
          width="22px"
          height="22px"
          lineHeight="2px"
        ></app-loading>

        <ng-template #titleButtonConfirmeLocation>
          <span>Confirmar código</span>
        </ng-template>
      </button>
    </form>
  </div>
</div>
