<div class="contain-privacy-police">
  <h1>{{ "text.privacyPolicy.header.title" | translate }}</h1>

  <strong>
    <p>{{ "text.privacyPolicy.header.lastUpdate" | translate }}</p>
  </strong>

  <p>
    {{ "text.privacyPolicy.introduction.description" | translate }}
  </p>

  <ul>
    <li>
      {{
        "text.privacyPolicy.introduction.serviceUsageList.downloadApp"
          | translate
      }}
    </li>

    <li>
      {{
        "text.privacyPolicy.introduction.serviceUsageList.usePlatform"
          | translate
      }}
    </li>

    <li>
      {{
        "text.privacyPolicy.introduction.serviceUsageList.interactWithUs"
          | translate
      }}
    </li>
  </ul>

  <p>
    <strong>{{
      "text.privacyPolicy.introduction.questionsSection.title" | translate
    }}</strong>

    {{
      "text.privacyPolicy.introduction.questionsSection.description" | translate
    }}

    {{
      "text.privacyPolicy.introduction.questionsSection.contactEmail"
        | translate
    }}
  </p>

  <h2 class="heading-01">
    {{ "text.privacyPolicy.summary.title" | translate }}
  </h2>

  <strong>
    <p>
      {{ "text.privacyPolicy.summary.intro" | translate }}
    </p>
  </strong>

  <p>
    <strong>
      {{ "text.privacyPolicy.summary.personalInfo.title" | translate }}
    </strong>
    {{ "text.privacyPolicy.summary.personalInfo.description" | translate }}
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.summary.sensitiveInfo.title" | translate }}
    </strong>
    {{ "text.privacyPolicy.summary.sensitiveInfo.description" | translate }}
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.summary.thirdPartyInfo.title" | translate }}
    </strong>
    {{ "text.privacyPolicy.summary.thirdPartyInfo.description" | translate }}
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.summary.processInfo.title" | translate }}
    </strong>
    {{ "text.privacyPolicy.summary.processInfo.description" | translate }}
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.summary.sharingInfo.title" | translate }}
    </strong>
    {{ "text.privacyPolicy.summary.sharingInfo.description" | translate }}
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.summary.security.title" | translate }}
    </strong>
    {{ "text.privacyPolicy.summary.security.description" | translate }}
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.summary.rights.title" | translate }}
    </strong>
    {{ "text.privacyPolicy.summary.rights.description" | translate }}
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.summary.rightsExercise.title" | translate }}
    </strong>
    {{ "text.privacyPolicy.summary.rightsExercise.description" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.summary.closing" | translate }}
  </p>

  <h2 class="heading-01">
    {{ "text.privacyPolicy.index.title" | translate }}
  </h2>

  <ul class="style-ol">
    <li>
      <a class="link" (click)="scrollToElement('infocollect')">
        {{ "text.privacyPolicy.index.sections.infocollect" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('infouse')">
        {{ "text.privacyPolicy.index.sections.infouse" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('legalbases')">
        {{ "text.privacyPolicy.index.sections.legalbases" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('whoshare')">
        {{ "text.privacyPolicy.index.sections.whoshare" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('whyshare')">
        {{ "text.privacyPolicy.index.sections.whyshare" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('cookies')">
        {{ "text.privacyPolicy.index.sections.cookies" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('ai')">
        {{ "text.privacyPolicy.index.sections.ai" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('sociallogins')">
        {{ "text.privacyPolicy.index.sections.sociallogins" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('inforetain')">
        {{ "text.privacyPolicy.index.sections.inforetain" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('infosafe')">
        {{ "text.privacyPolicy.index.sections.infosafe" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('privacyrights')">
        {{ "text.privacyPolicy.index.sections.privacyrights" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('DNT')">
        {{ "text.privacyPolicy.index.sections.DNT" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('uslaws')">
        {{ "text.privacyPolicy.index.sections.uslaws" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('otherlaws')">
        {{ "text.privacyPolicy.index.sections.otherlaws" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('policyupdates')">
        {{ "text.privacyPolicy.index.sections.policyupdates" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('contact')">
        {{ "text.privacyPolicy.index.sections.contact" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('request')">
        {{ "text.privacyPolicy.index.sections.request" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('restrictions')">
        {{ "text.privacyPolicy.index.sections.restrictions" | translate }}
      </a>
    </li>

    <li>
      <a class="link" (click)="scrollToElement('csae')">
        {{ "text.privacyPolicy.index.sections.csae" | translate }}
      </a>
    </li>
  </ul>
  <h2 id="infocollect" class="heading-01">
    {{ "text.privacyPolicy.infoCollect.title" | translate }}
  </h2>

  <h3 class="heading-01">
    {{ "text.privacyPolicy.infoCollect.personalDisclosure.title" | translate }}
  </h3>

  <p>
    <strong>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.summary.label"
          | translate
      }}
    </strong>
    <i>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.summary.description"
          | translate
      }}
    </i>
  </p>

  <p>
    {{
      "text.privacyPolicy.infoCollect.personalDisclosure.voluntaryCollection"
        | translate
    }}
  </p>

  <p>
    <strong>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.title"
          | translate
      }}
    </strong>
    {{
      "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.description"
        | translate
    }}
  </p>

  <ul>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.names"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.emails"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.usernames"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.passwords"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.contactPreferences"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.contactOrAuthData"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.camera"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.geolocation"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.wifi"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.mobileData"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.userId"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.googlePlayServices"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.personalInfoProvided.list.localStorage"
          | translate
      }}
    </li>
  </ul>

  <p>
    <strong>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.sensitiveInfo.title"
          | translate
      }}
    </strong>
  </p>

  <ul>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.sensitiveInfo.list.sexualLife"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.sensitiveInfo.list.userData"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.sensitiveInfo.list.additionalInfo"
          | translate
      }}
    </li>
  </ul>

  <p>
    <strong>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.basicInfo.title"
          | translate
      }}
    </strong>
  </p>

  <ul>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.basicInfo.list.relationship"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.basicInfo.list.zodiac"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.basicInfo.list.relationshipType"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.basicInfo.list.hasChildren"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.basicInfo.list.interests"
          | translate
      }}
    </li>
  </ul>

  <p>
    <strong>
      {{
        "text.privacyPolicy.infoCollect.personalDisclosure.paymentData.title"
          | translate
      }}
    </strong>
    {{
      "text.privacyPolicy.infoCollect.personalDisclosure.paymentData.description"
        | translate
    }}
  </p>
  <p>
    <strong>
      {{ "text.privacyPolicy.socialLoginData.title" | translate }}
    </strong>

    {{ "text.privacyPolicy.socialLoginData.descriptionBeforeLink" | translate }}

    <a (click)="scrollToElement('sociallogins')" class="link">
      {{ "text.privacyPolicy.socialLoginData.linkText" | translate }}
    </a>

    {{ "text.privacyPolicy.socialLoginData.descriptionAfterLink" | translate }}
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.applicationData.title" | translate }}
    </strong>

    {{ "text.privacyPolicy.applicationData.description" | translate }}
  </p>

  <ul>
    <li>
      <i>
        {{
          "text.privacyPolicy.applicationData.list.geolocation.title"
            | translate
        }}
      </i>
      {{
        "text.privacyPolicy.applicationData.list.geolocation.description"
          | translate
      }}
    </li>

    <li>
      <i>
        {{
          "text.privacyPolicy.applicationData.list.mobileAccess.title"
            | translate
        }}
      </i>
      {{
        "text.privacyPolicy.applicationData.list.mobileAccess.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.applicationData.list.deviceData.title" | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.applicationData.list.deviceData.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.applicationData.list.pushNotifications.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.applicationData.list.pushNotifications.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.applicationData.list.internetAccess.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.applicationData.list.internetAccess.description"
          | translate
      }}
    </li>

    <li>
      {{
        "text.privacyPolicy.applicationData.list.mobileCarrierCharges"
          | translate
      }}
    </li>
  </ul>
  <p>
    <strong>
      {{ "text.privacyPolicy.thirdPartyAccess.title" | translate }}
    </strong>
    {{ "text.privacyPolicy.thirdPartyAccess.description" | translate }}
  </p>

  <ul>
    <li>
      {{
        "text.privacyPolicy.thirdPartyAccess.services.googlePlayServices"
          | translate
      }}
    </li>

    <li>
      {{
        "text.privacyPolicy.thirdPartyAccess.services.googleAnalytics"
          | translate
      }}
    </li>
  </ul>

  <p>
    {{ "text.privacyPolicy.dataUsagePurpose" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.dataAccuracyNotice" | translate }}
  </p>

  <h2 class="heading-01">
    {{ "text.privacyPolicy.automaticCollection.title" | translate }}
  </h2>

  <p>
    <i>
      <strong>Resumindo:</strong>
      {{ "text.privacyPolicy.automaticCollection.summary" | translate }}
    </i>
  </p>

  <p>
    {{ "text.privacyPolicy.automaticCollection.description" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.automaticCollection.cookiesInfo" | translate }}
  </p>

  <p>
    {{
      "text.privacyPolicy.automaticCollection.collectedInfoTitle" | translate
    }}
  </p>

  <ul>
    <li>
      <i>
        {{
          "text.privacyPolicy.automaticCollection.list.logAndUsageData.title"
            | translate
        }}
      </i>
      {{
        "text.privacyPolicy.automaticCollection.list.logAndUsageData.description"
          | translate
      }}
    </li>

    <li>
      <i>
        {{
          "text.privacyPolicy.automaticCollection.list.deviceData.title"
            | translate
        }}
      </i>
      {{
        "text.privacyPolicy.automaticCollection.list.deviceData.description"
          | translate
      }}
    </li>

    <li>
      <i>
        {{
          "text.privacyPolicy.automaticCollection.list.locationData.title"
            | translate
        }}
      </i>
      {{
        "text.privacyPolicy.automaticCollection.list.locationData.description"
          | translate
      }}
    </li>
  </ul>
  <h2 class="heading-01">
    {{ "text.privacyPolicy.googleApi.title" | translate }}
  </h2>

  <p>
    {{ "text.privacyPolicy.googleApi.descriptionBeforeFirstLink" | translate }}

    <a
      href="https://developers.google.com/terms/api-services-user-data-policy"
      class="link"
      target="_blank"
    >
      {{ "text.privacyPolicy.googleApi.googlePolicyLinkText" | translate }}
    </a>

    {{ "text.privacyPolicy.googleApi.descriptionMiddle" | translate }}

    <a
      href="https://developers.google.com/terms/api-services-user-data-policy#limited-use"
      class="link"
      target="_blank"
    >
      {{ "text.privacyPolicy.googleApi.limitedUseLinkText" | translate }}
    </a>

    {{ "text.privacyPolicy.googleApi.descriptionEnd" | translate }}
  </p>

  <h2 class="heading-01">
    {{ "text.privacyPolicy.otherSources.title" | translate }}
  </h2>

  <p>
    <i>
      <strong>Resumindo:</strong>
      {{ "text.privacyPolicy.otherSources.summary" | translate }}
    </i>
  </p>

  <p>
    {{ "text.privacyPolicy.otherSources.description" | translate }}
  </p>

  <p>
    {{
      "text.privacyPolicy.otherSources.socialMediaInteraction.descriptionBeforeLink"
        | translate
    }}

    <a (click)="scrollToElement('withdrawconsent')" class="link">
      {{
        "text.privacyPolicy.otherSources.socialMediaInteraction.withdrawConsentLinkText"
          | translate
      }}
    </a>

    {{
      "text.privacyPolicy.otherSources.socialMediaInteraction.descriptionAfterLink"
        | translate
    }}
  </p>

  <h2 class="heading-01" id="infouse">
    {{ "text.privacyPolicy.informationProcessing.title" | translate }}
  </h2>

  <p>
    <i>
      <strong>Em resumo:</strong>
      {{ "text.privacyPolicy.informationProcessing.summary" | translate }}
    </i>
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.informationProcessing.description" | translate }}
    </strong>
  </p>
  <ul>
    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.accountManagement.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.accountManagement.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.serviceDelivery.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.serviceDelivery.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.userSupport.title" | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.userSupport.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.administrativeInformation.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.administrativeInformation.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.orderManagement.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.orderManagement.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.userCommunication.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.userCommunication.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{ "text.privacyPolicy.processingPurposes.feedback.title" | translate }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.feedback.description" | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.marketingCommunication.title"
            | translate
        }}
      </strong>

      {{
        "text.privacyPolicy.processingPurposes.marketingCommunication.descriptionBeforeLink"
          | translate
      }}

      <a (click)="scrollToElement('privacyrights')" class="link">
        {{
          "text.privacyPolicy.processingPurposes.marketingCommunication.privacyRightsLinkText"
            | translate
        }}
      </a>

      {{
        "text.privacyPolicy.processingPurposes.marketingCommunication.descriptionAfterLink"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.targetedAdvertising.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.targetedAdvertising.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.serviceProtection.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.serviceProtection.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.usageTrends.title" | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.usageTrends.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.campaignEffectiveness.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.campaignEffectiveness.description"
          | translate
      }}
    </li>

    <li>
      <strong>
        {{
          "text.privacyPolicy.processingPurposes.vitalInterest.title"
            | translate
        }}
      </strong>
      {{
        "text.privacyPolicy.processingPurposes.vitalInterest.description"
          | translate
      }}
    </li>
  </ul>
  <h2 class="heading-01" id="legalbases">
    {{ "text.privacyPolicy.legalBasesSection.title" | translate }}
  </h2>

  <p>
    <i>
      <strong>Resumindo:</strong>
      {{ "text.privacyPolicy.legalBasesSection.summary" | translate }}
    </i>
  </p>

  <p>
    <strong>
      <u>
        <i>
          {{ "text.privacyPolicy.legalBasesSection.euUkNotice" | translate }}
        </i>
      </u>
    </strong>
  </p>

  <p>
    {{ "text.privacyPolicy.legalBasesSection.gdprExplanation" | translate }}
  </p>
  <ul>
    <li>
      <strong>{{
        "text.privacyPolicy.legalBasesList.consent.title" | translate
      }}</strong>
      {{ "text.privacyPolicy.legalBasesList.consent.description" | translate }}

      <a (click)="scrollToElement('withdrawconsent')" class="link">
        {{
          "text.privacyPolicy.legalBasesList.consent.withdrawConsentLinkText"
            | translate
        }}
      </a>
    </li>

    <li>
      <strong>{{
        "text.privacyPolicy.legalBasesList.contractPerformance.title"
          | translate
      }}</strong>
      {{
        "text.privacyPolicy.legalBasesList.contractPerformance.description"
          | translate
      }}
    </li>

    <li>
      <strong>{{
        "text.privacyPolicy.legalBasesList.legitimateInterests.title"
          | translate
      }}</strong>
      {{
        "text.privacyPolicy.legalBasesList.legitimateInterests.description"
          | translate
      }}

      <ul class="space-top">
        <li>
          {{
            "text.privacyPolicy.legalBasesList.legitimateInterests.purposes.specialOffers"
              | translate
          }}
        </li>
        <li>
          {{
            "text.privacyPolicy.legalBasesList.legitimateInterests.purposes.personalizedAdvertising"
              | translate
          }}
        </li>
        <li>
          {{
            "text.privacyPolicy.legalBasesList.legitimateInterests.purposes.serviceUsageAnalysis"
              | translate
          }}
        </li>
        <li>
          {{
            "text.privacyPolicy.legalBasesList.legitimateInterests.purposes.marketingSupport"
              | translate
          }}
        </li>
        <li>
          {{
            "text.privacyPolicy.legalBasesList.legitimateInterests.purposes.fraudPrevention"
              | translate
          }}
        </li>
        <li>
          {{
            "text.privacyPolicy.legalBasesList.legitimateInterests.purposes.userExperienceImprovement"
              | translate
          }}
        </li>
      </ul>
    </li>

    <li>
      <strong>{{
        "text.privacyPolicy.legalBasesList.legalObligations.title" | translate
      }}</strong>
      {{
        "text.privacyPolicy.legalBasesList.legalObligations.description"
          | translate
      }}
    </li>

    <li>
      <strong>{{
        "text.privacyPolicy.legalBasesList.vitalInterests.title" | translate
      }}</strong>
      {{
        "text.privacyPolicy.legalBasesList.vitalInterests.description"
          | translate
      }}
    </li>
  </ul>
  <p>
    <strong>
      <u>
        <i>
          {{ "text.privacyPolicy.canadaLegalBasesSection.notice" | translate }}
        </i>
      </u>
    </strong>
  </p>

  <p>
    {{
      "text.privacyPolicy.canadaLegalBasesSection.consentExplanation.description"
        | translate
    }}

    <a (click)="scrollToElement('withdrawconsent')" class="link">
      {{
        "text.privacyPolicy.canadaLegalBasesSection.consentExplanation.withdrawConsentLinkText"
          | translate
      }}
    </a>

    a qualquer momento.
  </p>

  <p>
    {{
      "text.privacyPolicy.canadaLegalBasesSection.exceptionalCasesIntro"
        | translate
    }}
  </p>

  <ul>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.urgentCollection"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.fraudInvestigation"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.businessTransactions"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.witnessStatement"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.identifyInjuredPersons"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.financialAbuseVictim"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.agreementViolationInvestigation"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.legalDisclosure"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.employmentProducedInformation"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.journalisticPurpose"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.canadaLegalBasesSection.exceptionalCases.publiclyAvailableInformation"
          | translate
      }}
    </li>
  </ul>

  <h2 class="heading-01" id="whoshare">
    {{ "text.privacyPolicy.shareInformationSection.title" | translate }}
  </h2>

  <p>
    <i>
      <strong>Em resumo:</strong>
      {{ "text.privacyPolicy.shareInformationSection.summary" | translate }}
    </i>
  </p>

  <p>
    <strong>
      {{
        "text.privacyPolicy.shareInformationSection.thirdPartyServices.title"
          | translate
      }}
    </strong>
    {{
      "text.privacyPolicy.shareInformationSection.thirdPartyServices.description"
        | translate
    }}
  </p>

  <p>
    {{
      "text.privacyPolicy.shareInformationSection.categoriesIntro" | translate
    }}
  </p>

  <ul>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.adNetworks"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.aiPlatforms"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.cloudComputing"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.communicationTools"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.dataAnalytics"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.dataStorageProviders"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.paymentProcessors"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.performanceMonitoring"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.productEngineeringTools"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.socialNetworks"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.shareInformationSection.categories.accountRegistrationServices"
          | translate
      }}
    </li>
  </ul>

  <p>
    {{
      "text.privacyPolicy.shareInformationSection.situationsIntro" | translate
    }}
  </p>
  <h2 class="heading-01" id="3pwebsites">
    {{ "text.privacyPolicy.thirdPartyWebsitesSection.title" | translate }}
  </h2>

  <p>
    <i>
      <strong>{{
        "text.privacyPolicy.cookiesSection.appCookieSummary.summaryLabel"
          | translate
      }}</strong>
      {{ "text.privacyPolicy.thirdPartyWebsitesSection.summary" | translate }}
    </i>
  </p>

  <p>
    {{ "text.privacyPolicy.thirdPartyWebsitesSection.description" | translate }}
  </p>

  <h2 class="heading-01" id="cookies">
    {{ "text.privacyPolicy.cookiesSection.title" | translate }}
  </h2>

  <p>
    <i>
      <strong>{{
        "text.privacyPolicy.cookiesSection.appCookieSummary.summaryLabel"
          | translate
      }}</strong>
      {{ "text.privacyPolicy.cookiesSection.summary" | translate }}
    </i>
  </p>

  <p>
    {{ "text.privacyPolicy.cookiesSection.trackingIntro" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.cookiesSection.trackingSecurity" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.cookiesSection.trackingAdvertising" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.cookiesSection.usOptOutExplanation" | translate }}

    <a
      (click)="scrollToElement('uslaws')"
      rel="noopener noreferrer"
      class="link"
    >
      {{ "text.privacyPolicy.cookiesSection.usOptOutLinkText" | translate }}
    </a>
  </p>

  <p>
    {{ "text.privacyPolicy.cookiesSection.cookieNoticeReference" | translate }}
  </p>

  <h2 class="heading-01">
    {{ "text.privacyPolicy.cookiesSection.googleAnalytics.title" | translate }}
  </h2>

  <p>
    {{
      "text.privacyPolicy.cookiesSection.googleAnalytics.description"
        | translate
    }}

    <a
      href="https://tools.google.com/dlpage/gaoptout"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      https://tools.google.com/dlpage/gaoptout
    </a>

    .

    <a
      href="https://adssettings.google.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.cookiesSection.googleAnalytics.adsSettingsLinkText"
          | translate
      }}
    </a>

    .

    <a
      href="https://optout.networkadvertising.org/"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      https://optout.networkadvertising.org/
    </a>

    .

    <a
      href="https://www.networkadvertising.org/mobile-choice"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      https://www.networkadvertising.org/mobile-choice
    </a>

    .

    <a
      href="https://policies.google.com/privacy"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.cookiesSection.googleAnalytics.googlePrivacyLinkText"
          | translate
      }}
    </a>
  </p>

  <p>
    <strong>{{
      "text.privacyPolicy.cookiesSection.appCookieSummary.summaryLabel"
        | translate
    }}</strong>
    {{
      "text.privacyPolicy.cookiesSection.appCookieSummary.summary" | translate
    }}
  </p>

  <p>
    <strong>
      {{
        "text.privacyPolicy.cookiesSection.appCookieSummary.googleAuthTitle"
          | translate
      }}
    </strong>

    {{
      "text.privacyPolicy.cookiesSection.appCookieSummary.googleAuthDescription"
        | translate
    }}
  </p>

  <p>
    <strong>
      {{
        "text.privacyPolicy.cookiesSection.appCookieSummary.admobTitle"
          | translate
      }}
    </strong>

    {{
      "text.privacyPolicy.cookiesSection.appCookieSummary.admobDescription"
        | translate
    }}
  </p>

  <p>
    <strong>
      {{
        "text.privacyPolicy.cookiesSection.appCookieSummary.analyticsTitle"
          | translate
      }}
    </strong>

    {{
      "text.privacyPolicy.cookiesSection.appCookieSummary.analyticsDescription"
        | translate
    }}
  </p>

  <p>
    <strong>
      {{
        "text.privacyPolicy.cookiesSection.cookieManagement.title" | translate
      }}
    </strong>
  </p>

  <p>
    {{
      "text.privacyPolicy.cookiesSection.cookieManagement.description"
        | translate
    }}
  </p>

  <a
    href="http://policies.google.com/technologies/cookies"
    target="_blank"
    class="link"
    rel="noopener noreferrer"
  >
    {{
      "text.privacyPolicy.cookiesSection.cookieManagement.googleCookiePolicyLinkText"
        | translate
    }}
  </a>

  <h2 class="heading-01" id="ai">
    {{ "text.privacyPolicy.aiSection.title" | translate }}
  </h2>

  <p>
    <i>
      <strong>
        {{ "text.privacyPolicy.aiSection.summaryLabel" | translate }}
      </strong>
      {{ "text.privacyPolicy.aiSection.summary" | translate }}
    </i>
  </p>

  <p>
    {{ "text.privacyPolicy.aiSection.description" | translate }}
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.aiSection.openAiTitle" | translate }}
    </strong>
  </p>

  <p>
    {{ "text.privacyPolicy.aiSection.openAiDescription" | translate }}

    <a (click)="scrollToElement('legalbases')" class="link">
      {{ "text.privacyPolicy.aiSection.legalBasesLinkText" | translate }}
    </a>
  </p>

  <p>
    {{ "text.privacyPolicy.aiSection.openAiPrivacyLinkText" | translate }}
  </p>

  <p>
    <strong>
      {{ "text.privacyPolicy.aiSection.productsTitle" | translate }}
    </strong>
  </p>

  <p>
    {{ "text.privacyPolicy.aiSection.productsIntro" | translate }}
  </p>

  <ul>
    <li>
      {{ "text.privacyPolicy.aiSection.products.completeProfile" | translate }}
    </li>

    <li>
      {{ "text.privacyPolicy.aiSection.products.chatSuggestions" | translate }}
    </li>

    <li>
      {{ "text.privacyPolicy.aiSection.products.matchAnalysis" | translate }}
    </li>
  </ul>

  <p>
    <strong>
      {{ "text.privacyPolicy.aiSection.processingTitle" | translate }}
    </strong>
  </p>

  <p>
    {{ "text.privacyPolicy.aiSection.processingDescription" | translate }}
  </p>
  <h2 class="heading-01" id="sociallogins">
    {{ "text.privacyPolicy.socialLoginsSection.title" | translate }}
  </h2>

  <p>
    <strong>
      {{ "text.privacyPolicy.socialLoginsSection.summaryLabel" | translate }}
    </strong>
    {{ "text.privacyPolicy.socialLoginsSection.summary" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.socialLoginsSection.paragraph1" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.socialLoginsSection.paragraph2" | translate }}
  </p>

  <h2 class="heading-01" id="inforetain">
    {{ "text.privacyPolicy.dataRetentionSection.title" | translate }}
  </h2>

  <p>
    <strong>
      {{ "text.privacyPolicy.dataRetentionSection.summaryLabel" | translate }}
    </strong>
    {{ "text.privacyPolicy.dataRetentionSection.summary" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.dataRetentionSection.paragraph1" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.dataRetentionSection.paragraph2" | translate }}
  </p>

  <h2 class="heading-01" id="infosafe">
    {{ "text.privacyPolicy.dataRetentionSection.title" | translate }}
  </h2>

  <p>
    {{ "text.privacyPolicy.dataRetentionSection.paragraph1" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.dataRetentionSection.paragraph2" | translate }}
  </p>
  <h2 class="heading-01" id="privacyrights">
    {{ "text.privacyPolicy.privacyRightsSection.title" | translate }}
  </h2>

  <p>
    <strong>
      {{ "text.privacyPolicy.privacyRightsSection.paragraph1" | translate }}
    </strong>
  </p>

  <p>
    {{ "text.privacyPolicy.privacyRightsSection.paragraph2" | translate }}

    <a (click)="scrollToElement('contact')" class="link">
      {{
        "text.privacyPolicy.privacyRightsSection.contactLinkText" | translate
      }}
    </a>

    {{ "text.privacyPolicy.privacyRightsSection.paragraph3" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.privacyRightsSection.paragraph4" | translate }}

    <a
      href="https://app.termly.io/dashboard/website/9ec8c8df-4f25-4bf7-8851-81df57c501a1/disclaimer"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.privacyRightsSection.euAuthorityLinkText"
          | translate
      }}
    </a>

    {{
      "text.privacyPolicy.privacyRightsSection.ukAuthorityLinkText" | translate
    }}

    <a
      href="https://ico.org.uk/make-a-complaint/data-protection-complaints/"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.privacyRightsSection.ukAuthorityLinkText"
          | translate
      }}
    </a>
  </p>

  <p>
    {{ "text.privacyPolicy.privacyRightsSection.paragraph5" | translate }}

    <a
      href="https://www.edoeb.admin.ch/edoeb/en/home.html"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.privacyRightsSection.swissAuthorityLinkText"
          | translate
      }}
    </a>
  </p>

  <p id="withdrawconsent">
    <strong>
      <u>
        {{
          "text.privacyPolicy.privacyRightsSection.withdrawConsentTitle"
            | translate
        }}
      </u>
    </strong>

    {{
      "text.privacyPolicy.privacyRightsSection.withdrawConsentParagraph1"
        | translate
    }}

    <a (click)="scrollToElement('contact')" class="link">
      {{
        "text.privacyPolicy.privacyRightsSection.withdrawConsentLinkText"
          | translate
      }}
    </a>
  </p>

  <p>
    {{
      "text.privacyPolicy.privacyRightsSection.withdrawConsentParagraph2"
        | translate
    }}
  </p>
  <h2 class="heading-01" id="DNT">
    {{ "text.privacyPolicy.dntSection.title" | translate }}
  </h2>

  <p>
    {{ "text.privacyPolicy.dntSection.paragraph1" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.dntSection.paragraph2" | translate }}
  </p>
  <h2 class="heading-01" id="uslaws">
    {{ "text.privacyPolicy.usPrivacyRightsSection.title" | translate }}
  </h2>

  <p>
    <i>
      <strong>Em resumo:</strong>
      {{ "text.privacyPolicy.usPrivacyRightsSection.summary" | translate }}
    </i>
  </p>

  <h2 class="heading-01">
    {{
      "text.privacyPolicy.usPrivacyRightsSection.categoriesTitle" | translate
    }}
  </h2>

  <p>
    {{
      "text.privacyPolicy.usPrivacyRightsSection.categoriesDescription"
        | translate
    }}
  </p>

  <div style="overflow-x: auto">
    <table
      class="table"
      style="border: 1px solid #ccc; border-collapse: collapse"
    >
      <thead>
        <tr>
          <th>
            {{
              "text.privacyPolicy.usPrivacyRightsSection.table.headers.category"
                | translate
            }}
          </th>
          <th>
            {{
              "text.privacyPolicy.usPrivacyRightsSection.table.headers.examples"
                | translate
            }}
          </th>
          <th>
            {{
              "text.privacyPolicy.usPrivacyRightsSection.table.headers.collected"
                | translate
            }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let row of 'text.privacyPolicy.usPrivacyRightsSection.table.rows'
              | translate
          "
        >
          <td>{{ row.category }}</td>
          <td>{{ row.examples }}</td>
          <td>{{ row.collected }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="hading-01" id="otherlaws">
    {{ "text.privacyPolicy.otherRegionsRightsSection.title" | translate }}
  </h2>

  <p>
    <strong>
      {{
        "text.privacyPolicy.otherRegionsRightsSection.summary.strong"
          | translate
      }}
    </strong>
    {{
      "text.privacyPolicy.otherRegionsRightsSection.summary.text" | translate
    }}
  </p>

  <h3>
    {{ "text.privacyPolicy.australiaNewZealandSection.title" | translate }}
  </h3>

  <p>
    {{
      "text.privacyPolicy.australiaNewZealandSection.paragraph1.part1"
        | translate
    }}
    {{
      "text.privacyPolicy.australiaNewZealandSection.paragraph1.australiaPrivacyAct"
        | translate
    }}
    {{
      "text.privacyPolicy.australiaNewZealandSection.paragraph1.part2"
        | translate
    }}
    {{
      "text.privacyPolicy.australiaNewZealandSection.paragraph1.newZealandPrivacyAct"
        | translate
    }}
    {{
      "text.privacyPolicy.australiaNewZealandSection.paragraph1.part3"
        | translate
    }}
  </p>

  <p>
    {{ "text.privacyPolicy.australiaNewZealandSection.paragraph2" | translate }}
  </p>

  <p>
    {{
      "text.privacyPolicy.australiaNewZealandSection.paragraph3.part1"
        | translate
    }}
  </p>

  <ul>
    <li>
      {{
        "text.privacyPolicy.australiaNewZealandSection.servicesList.item1"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.australiaNewZealandSection.servicesList.item2"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.australiaNewZealandSection.servicesList.item3"
          | translate
      }}
    </li>
    <li>
      {{
        "text.privacyPolicy.australiaNewZealandSection.servicesList.item4"
          | translate
      }}
    </li>
  </ul>

  <p>
    {{
      "text.privacyPolicy.australiaNewZealandSection.paragraph4.part1"
        | translate
    }}
    <a (click)="scrollToElement('request')" class="link">
      {{
        "text.privacyPolicy.australiaNewZealandSection.paragraph4.linkText"
          | translate
      }}
    </a>
  </p>

  <p>
    {{
      "text.privacyPolicy.australiaNewZealandSection.paragraph5.part1"
        | translate
    }}
    <a
      href="https://www.oaic.gov.au/privacy/privacy-complaints/lodge-a-privacy-complaint-with-us"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.australiaNewZealandSection.paragraph5.australianOfficeLink"
          | translate
      }}
    </a>
    {{
      "text.privacyPolicy.australiaNewZealandSection.paragraph5.part2"
        | translate
    }}
    <a
      href="https://www.privacy.org.nz/your-rights/making-a-complaint/"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.australiaNewZealandSection.paragraph5.newZealandOfficeLink"
          | translate
      }}
    </a>
  </p>

  <!-- 15. Policy Updates -->
  <h2 class="hading-01" id="policyupdates">
    {{ "text.privacyPolicy.policyUpdatesSection.title" | translate }}
  </h2>

  <p>
    <strong>{{
      "text.privacyPolicy.policyUpdatesSection.summary.strong" | translate
    }}</strong>
    {{ "text.privacyPolicy.policyUpdatesSection.summary.text" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.policyUpdatesSection.paragraph1" | translate }}
  </p>

  <!-- 16. Contact -->
  <h2 class="hading-01" id="contact">
    {{ "text.privacyPolicy.contactSection.title" | translate }}
  </h2>

  <p>
    {{ "text.privacyPolicy.contactSection.paragraph1.part1" | translate }}
    {{ "text.privacyPolicy.contactSection.paragraph1.email" | translate }}
    {{ "text.privacyPolicy.contactSection.paragraph1.part2" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.contactSection.address.line1" | translate }} <br />
    {{ "text.privacyPolicy.contactSection.address.line2" | translate }} <br />
    {{ "text.privacyPolicy.contactSection.address.line3" | translate }} <br />
    {{ "text.privacyPolicy.contactSection.address.line4" | translate }}
  </p>

  <!-- 17. Request Data -->
  <h2 class="hading-01" id="request">
    {{ "text.privacyPolicy.requestSection.title" | translate }}
  </h2>

  <p>
    {{ "text.privacyPolicy.requestSection.paragraph1.part1" | translate }}
    {{ "text.privacyPolicy.requestSection.paragraph1.email" | translate }}
    {{ "text.privacyPolicy.requestSection.paragraph1.part2" | translate }}
  </p>

  <!-- Minors Restrictions -->
  <h2 class="hading-01" id="restrictions">
    {{ "text.privacyPolicy.minorsRestrictionSection.title" | translate }}
  </h2>

  <p>
    {{ "text.privacyPolicy.minorsRestrictionSection.paragraph1" | translate }}
  </p>
  <p>
    {{ "text.privacyPolicy.minorsRestrictionSection.paragraph2" | translate }}
  </p>
  <p>
    {{ "text.privacyPolicy.minorsRestrictionSection.paragraph3" | translate }}
  </p>
  <p>
    {{ "text.privacyPolicy.minorsRestrictionSection.paragraph4" | translate }}
  </p>
  <p>
    {{ "text.privacyPolicy.minorsRestrictionSection.paragraph5" | translate }}
  </p>

  <!-- Reports -->
  <h2 class="hading-01">
    {{ "text.privacyPolicy.reportsSection.title" | translate }}
  </h2>

  <p>
    {{ "text.privacyPolicy.reportsSection.paragraph1.part1" | translate }}
    {{ "text.privacyPolicy.reportsSection.paragraph1.email" | translate }}
    {{ "text.privacyPolicy.reportsSection.paragraph1.part2" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.reportsSection.paragraph2.part1" | translate }}
    <a
      href="https://support.google.com/websearch/answer/148666#zippy=%2Cam%C3%A9rica-do-norte"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.reportsSection.paragraph2.reportChildAbuse"
          | translate
      }}
    </a>
    {{ "text.privacyPolicy.reportsSection.paragraph2.part2" | translate }}
    <a
      href="https://support.google.com/googleplay/contact/rap_family?sjid=8578783050337801225-SA"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.reportsSection.paragraph2.reportFamilyContent"
          | translate
      }}
    </a>
  </p>

  <!-- CSAE -->
  <h2 class="hading-01">
    {{ "text.privacyPolicy.csaeSection.title" | translate }}
  </h2>

  <p>{{ "text.privacyPolicy.csaeSection.paragraph1" | translate }}</p>

  <p>
    <strong>{{
      "text.privacyPolicy.csaeSection.paragraph2.strong" | translate
    }}</strong>
  </p>

  <p>
    {{ "text.privacyPolicy.csaeSection.paragraph3.part1" | translate }}
    <a
      href="https://support.google.com/transparencyreport/answer/10330933"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.csaeSection.paragraph3.transparencyLink" | translate
      }}
    </a>
    {{ "text.privacyPolicy.csaeSection.paragraph3.part2" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.csaeSection.paragraph4.part1" | translate }}
    <a href="#contact" class="link">
      {{ "text.privacyPolicy.csaeSection.paragraph4.contactLink" | translate }}
    </a>
    {{ "text.privacyPolicy.csaeSection.paragraph4.part2" | translate }}
  </p>

  <p>
    {{ "text.privacyPolicy.csaeSection.paragraph5.part1" | translate }}
    <a
      href="https://support.google.com/transparencyreport/answer/10330933?sjid=8998283955983882024-SA"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      {{
        "text.privacyPolicy.csaeSection.paragraph5.transparencyLink" | translate
      }}
    </a>
  </p>
</div>
