.contain-sign {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain-form-login {
  width: 100%;
}

.contain-logo {
  line-height: 7rem;
}

.input-custom {
  width: 100%;
}

img {
  width: 15rem;
}

.regiter-acount {
  width: 100%;
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.text-login {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.input-custom {
  margin-bottom: 1rem;
}

.contain-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.title-error {
  font-size: 2rem;
  font-weight: 700;
}

.contain-description-error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description-error-message {
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #7b7b7b;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contain-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain-button-system-unavailable {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
