<div class="contain-sign">
  <div class="contain-logo">
    <app-logo-dropmessage [fontSize]="'2rem'"></app-logo-dropmessage>
  </div>

  <img src="assets/icon-static/icon-relationchip.svg" alt="" />

  <form
    [formGroup]="userLoginFormGroup"
    (submit)="userSign()"
    class="contain-form-login"
  >
    <p class="text-login">Login</p>
    <input
      type="text"
      placeholder="login"
      appInputCustom
      class="input-custom"
      formControlName="email"
    />
    <input
      type="password"
      placeholder="senha"
      appInputCustom
      class="input-custom"
      formControlName="password"
    />
    <button
      class="button-login"
      type="submit"
      appButtonStyle
      [buttonType]="'primary'"
      [disabled]="buttonDisalbled || userLoginFormGroup.invalid"
      [disabledButton]="buttonDisalbled || userLoginFormGroup.invalid"
    >
      <span *ngIf="!isLoadingButton">entrar</span>
      <app-loading
        *ngIf="isLoadingButton"
        width="22px"
        height="22px"
        lineHeight="2px"
      ></app-loading>
    </button>
    <div class="regiter-acount">
      <p (click)="navigateToSignup()">Ainda nao possui uma conta?</p>
    </div>
  </form>
</div>

<app-modal #dialog>
  <div class="contain-title">
    <p class="title-error">Ops, ocorreu um erro!</p>
  </div>

  <div class="contain-image">
    <img
      src="assets/icon-static/error-request.svg"
      class="image-error-request"
      alt=""
    />
  </div>

  <div class="contain-description-error">
    <p class="description-error">{{ errorMessage }}</p>
  </div>

  <div class="contain-button-system-unavailable">
    <button
      appButtonStyle
      [buttonType]="'secondary'"
      (click)="dialog.closeDialog()"
    >
      Tentar novamente
    </button>
  </div>
</app-modal>
