<div class="contain-sign">
  <div class="contain-logo">
    <app-logo-dropmessage [fontSize]="'2rem'"></app-logo-dropmessage>
  </div>

  <img src="assets/icon-static/dating-user.svg" alt="" />

  <p class="text-login">{{ "text.titleSign" | translate }}</p>

  <div class="contain-button-google">
    <button
      class="button-google"
      (click)="userAuthenticatorWithGoogle()"
      [disabled]="isLoadingButtonGoogleOAuth"
    >
      @if (isLoadingButtonGoogleOAuth) {
      <app-spinner color="#666" backgroundColor="#999"></app-spinner>
      }@else {
      <img src="assets/icon-static/logo-google.svg" alt="" />
      <span>{{ "button.accessWithGoogle" | translate }}</span>
      }
    </button>

    <p>{{ "text.or" | translate }}</p>
  </div>

  <form
    [formGroup]="userLoginFormGroup"
    (submit)="userSign()"
    class="contain-form-login"
  >
    <input
      type="email"
      [placeholder]="'input.placeholder.login' | translate"
      appInputCustom
      class="input-custom"
      formControlName="email"
      style="text-transform: lowercase"
    />
    <div class="password-container">
      <input
        [type]="showPassword ? 'text' : 'password'"
        [placeholder]="'input.placeholder.password' | translate"
        appInputCustom
        class="input-custom"
        formControlName="password"
      />
      <button
        type="button"
        class="eye-button"
        (click)="togglePasswordVisibility()"
      >
        <img
          class="size-icon-eye"
          [src]="
            showPassword
              ? 'assets/icon-static/icon_eye.svg'
              : 'assets/icon-static/icon_eye_close.svg'
          "
          alt="password"
        />
      </button>
    </div>
    <button
      class="button-login"
      type="submit"
      appButton
      [disabled]="buttonDisalbled || userLoginFormGroup.invalid"
    >
      @if (isLoadingButton) {
      <app-spinner></app-spinner>
      }@else {
      {{ "button.signIn" | translate }}
      }
    </button>
    <div class="regiter-acount">
      <p (click)="navigateToSignup()">
        {{ "text.linkDoNotAccount" | translate }}
      </p>
    </div>
  </form>
</div>

<app-modal #modalError>
  <app-feedback-overlay
    variant="error"
    [title]="'text.errorSomethingWentWrong' | translate"
    [description]="errorMessage"
  ></app-feedback-overlay>

  <button
    appButton="ghost"
    class="btn-ghost"
    variant="ghost"
    (click)="closeModal()"
  >
    {{ "button.cancel" | translate }}
  </button>
</app-modal>
