<div class="contain-sign">
  <div class="contain-back-button">
    <img
      src="assets/icon-static/arrow-left.svg"
      (click)="goToAuthSign()"
      alt=""
    />
  </div>

  <div class="icon-relationcip">
    <img
      src="assets/icon-static/icon-relationchip-register.svg"
      alt="ilustracao de duas pessoas se abraçando. Mulher de cabelos longos abraçada suavemente com rapaz de cabelo curto sem barba"
    />
  </div>

  <div class="contain-form-login">
    <p class="text-login">crie sua conta</p>
    <input type="text" placeholder="nome" appInputCustom class="input-custom" />
    <input
      type="email"
      placeholder="email"
      id=""
      appInputCustom
      class="input-custom"
      style="text-transform: lowercase"
    />
    <input
      type="password"
      placeholder="senha"
      id=""
      appInputCustom
      class="input-custom"
    />
    <button
      appButtonStyle
      class="button-create-acount"
      [buttonType]="'primary'"
      (click)="createAccount()"
      [disabled]="buttonDisalbled"
      [disabledButton]="buttonDisalbled"
      aria-label="criar conta"
    >
      <span *ngIf="!buttonDisalbled">criar conta</span>
      <div *ngIf="buttonDisalbled" class="bouncing-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </button>
  </div>
</div>
