<div class="contain-sign">
  <div class="contain-back-button">
    <img
      src="assets/icon-static/arrow-left.svg"
      (click)="goToAuthSign()"
      alt=""
    />
  </div>

  <div class="icon-relationcip">
    <img
      src="assets/icon-static/icon-relationchip-register.svg"
      alt="ilustracao de duas pessoas se abraçando. Mulher de cabelos longos abraçada suavemente com rapaz de cabelo curto sem barba"
    />
  </div>

  <p class="text-login">Crie sua conta</p>

  <div class="contain-button-google">
    <button class="button-google" (click)="createAccountWithGoogle()">
      @if (isLoadingButtonGoogleOAuth) {
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle
            class="path"
            cx="50"
            cy="50"
            r="20"
            fill="none"
            stroke-width="3"
            stroke-miterlimit="10"
          />
        </svg>
      </div>

      }@else {
      <img src="assets/icon-static/logo-google.svg" alt="" />
      <span>Criar conta com o Google</span>
      }
    </button>

    <p>ou</p>
  </div>

  <form
    [formGroup]="createAccountFormGroup"
    (submit)="createAccountUser()"
    class="contain-form-login"
    class="contain-form-login"
  >
    <input
      type="text"
      placeholder="nome"
      id="name"
      appInputCustom
      formControlName="name"
      maxlength="30"
      class="input-custom"
    />
    <input
      type="email"
      placeholder="email"
      id="email"
      appInputCustom
      formControlName="email"
      class="input-custom"
      style="text-transform: lowercase"
    />
    <input
      type="password"
      placeholder="senha"
      id=""
      appInputCustom
      formControlName="password"
      class="input-custom"
    />
    <button
      appButtonStyle
      type="submit"
      class="button-create-acount"
      [buttonType]="'primary'"
      [disabled]="buttonDisalbled || createAccountFormGroup.invalid"
      [disabledButton]="buttonDisalbled || createAccountFormGroup.invalid"
      aria-label="criar conta"
    >
      <span *ngIf="!buttonDisalbled">criar conta</span>
      <div *ngIf="buttonDisalbled" class="bouncing-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </button>
  </form>

  <div class="contain-privece-police">
    <p class="privece-police">
      Ao realizar o seu cadastro você concorda com os nossas
      <span class="privece-police-hilite" (click)="goToPrivecePolice()"
        >políticas de privacidade</span
      >
    </p>
  </div>
</div>
