<div class="content">
  <div class="header">
    <i (click)="goToPostMessages()" class="fi fi-br-x icon"></i>
  </div>
  @if (isLoading) {
  <div class="isloading-space">
    <app-load-shimmer [height]="'50px'"></app-load-shimmer>

    <app-load-shimmer [height]="'50px'"></app-load-shimmer>

    <div class="custumer-shimmer">
      <app-load-shimmer [height]="'50px'"></app-load-shimmer>
    </div>

    <div class="custumer-shimmer-80">
      <app-load-shimmer [height]="'50px'"></app-load-shimmer>
    </div>
  </div>
  }@else if (errorRequest) { <app-error></app-error> }@else {

  <div class="main-content">
    <div class="card-signature">
      <div class="card-signature-content">
        <div class="card-signature-header">
          <img src="assets/icon-static/logo-yeloow.svg" alt="arrow" />
          <div class="plan">
            <span class="nickname">{{ "text.plan" | translate }}</span>
            <p class="name">Gold Free Trial</p>
          </div>
        </div>
        <h1 class="margin-title">
          <i>{{ "text.goldPlanPromotion" | translate }}</i>
        </h1>
        <p class="description">
          {{ "text.describeGoldPlanPromotion" | translate }}
        </p>
        <h2>
          {{ "text.from" | translate }}
          <s>{{ "text.priceGoldFreeTrial" | translate }}</s>
        </h2>
        <h2>
          <strong>{{ "text.for" | translate }} </strong>
          <span
            ><strong class="price">{{
              "text.freePriceGoldFreeTrial" | translate
            }}</strong></span
          >
        </h2>
      </div>
      <div class="contain-button">
        <button
          appButtonStyle
          (click)="openBottomSheet()"
          class="button"
          [buttonType]="'primary'"
        >
          {{ "button.sharedPost" | translate }}
        </button>
      </div>
    </div>
  </div>
  }
</div>
