<div class="container">
  <div class="container-header">
    <div class="header">
      <img
        src="assets/icon-static/arrow-left.svg"
        alt="Voltar"
        (click)="goToProfile()"
      />
    </div>
  </div>

  <div class="container-body">
    <p>DatingMatch - Chat & Friends</p>
    <p class="text-light">{{ "text.version" | translate }} {{ appVersion }}</p>
    <img src="assets/icon-static/logo.svg" alt="" />
    <p class="text-light">&copy; 2025-2025 DatingMatch</p>
  </div>
</div>
