<div class="contain-buton-loggout">
  <button (click)="logout()">{{ "button.logout" | translate }}</button>
</div>

<div class="container">
  <div
    class="contain-shared-message"
    [@fadeInOut]="showSnapshot ? 'in' : 'out'"
  >
    <div>
      <p class="text-complete-perfil">
        {{ "text.completeProfile" | translate }}
      </p>
      <div *ngIf="!cameraImage; else takePhoto">
        <div class="contain-permission">
          <div class="contain-svg">
            <div [innerHTML]="sanitizedSvg"></div>
          </div>

          <div class="contain-button-take-photo">
            <button
              appButtonStyle
              [buttonType]="'primary'"
              (click)="openBottomSheet()"
            >
              {{ "button.takePicture" | translate }}
            </button>
          </div>
        </div>
      </div>

      <ng-template #takePhoto>
        <div
          class="contain-photo-preview"
          *ngIf="cameraAllowed && cameraImage; else noCamera"
        >
          <div id="camera-app">
            <img
              *ngIf="cameraImage"
              [src]="cameraImage"
              class="photo-preview"
              alt="Preview da Foto"
            />
          </div>
          <div class="contain-button-take-photo">
            <button
              appButtonStyle
              [buttonType]="'primary'"
              (click)="openBottomSheet()"
            >
              {{ "button.takePicture" | translate }}
            </button>
          </div>
        </div>
      </ng-template>

      <ng-template #noCamera>
        <div class="contain-permission-denied">
          <img
            src="assets/icon-static/camera-not-allowed.svg"
            class="icon-camera-denied"
            alt="icone de permissoes negadas para acesso de câmera"
          />
          <div class="contain-button-take-photo">
            <button
              appButtonStyle
              [buttonType]="'primary'"
              (click)="requestCameraPermissionAgain()"
            >
              {{ "button.allowCamera" | translate }}
            </button>
          </div>
        </div>
      </ng-template>
    </div>

    <form
      [formGroup]="avatarAndCompletedFormGroup"
      (submit)="createAvatarAndCompletedData()"
      class="contain-form-login"
    >
      <input
        type="text"
        [placeholder]="'input.placeholder.dateOfBirth' | translate"
        appInputCustom
        class="input-custom"
        maxlength="10"
        formControlName="dateOfBirth"
        mask="00/00/0000"
      />
      <div
        class="contain-data-invalid"
        *ngIf="
        avatarAndCompletedFormGroup.get('dateOfBirth')?.touched &&
        avatarAndCompletedFormGroup.get('dateOfBirth')?.errors?.['invalidDate']
      "
      >
        <p class="data-invalid">{{ "text.invalidDate" | translate }}</p>
      </div>
      <div
        class="contain-data-invalid"
        *ngIf="
        avatarAndCompletedFormGroup.get('dateOfBirth')?.errors?.['underage']
      "
      >
        <p class="data-invalid">{{ "text.underageUser" | translate }}</p>
      </div>
      <div
        class="contain-data-invalid"
        *ngIf="
        avatarAndCompletedFormGroup.get('dateOfBirth')?.errors?.['futureDate']
      "
      >
        <p class="data-invalid">
          {{ "text.dateGreaterThanCurrent" | translate }}
        </p>
      </div>
      <input
        (click)="openModalGender()"
        type="text"
        [placeholder]="'input.placeholder.identifyYourSelf' | translate"
        id=""
        [value]="typeGender"
        readonly
        appInputCustom
        class="input-custom"
        formControlName="gender"
      />
      <input
        (click)="openModalInterests()"
        type="text"
        [placeholder]="'input.placeholder.interest' | translate"
        id=""
        appInputCustom
        class="input-custom"
        formControlName="interests"
      />
      <button
        class="buttom-create-avatar"
        appButtonStyle
        [buttonType]="'primary'"
        type="submit"
        (click)="completeDataFlow(cameraImage)"
        [disabled]="avatarAndCompletedFormGroup.invalid"
        [disabledButton]="avatarAndCompletedFormGroup.invalid"
      >
        <span *ngIf="!isLoadingButton">
          {{ "button.completeProfile" | translate }}</span
        >
        <div *ngIf="isLoadingButton" class="bouncing-dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </button>
    </form>
  </div>
</div>

<app-modal #genderModal>
  <ul class="list-action-timer">
    <div class="contain-title-modal">
      <p>{{ "input.placeholder.identifyYourSelf" | translate }}</p>
    </div>

    <li class="action-timer" (click)="selectGender('homem')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-mars"></i>
        <div>
          <p>{{ "text.man" | translate }}</p>
          <span class="drescription-timer">{{
            "text.describeGender" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="selectGender('mulher')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-venus"></i>
        <div>
          <p>{{ "text.woman" | translate }}</p>
          <span class="drescription-timer">{{
            "text.describeGender" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="selectGender('não binário')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-transgender"></i>
        <div>
          <p>{{ "text.nonBinary" | translate }}</p>
          <span class="drescription-timer">{{
            "text.describeBinary" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
  </ul>
</app-modal>

<app-modal #interestsModal>
  <ul class="list-action-timer">
    <div class="contain-title-modal">
      <p>{{ "text.whatYourInterest" | translate }}</p>
    </div>

    <li class="action-timer" (click)="selectInterests('homem')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-mars"></i>
        <div>
          <p>{{ "text.man" | translate }}</p>
          <span class="drescription-timer">{{
            "text.describeInterestMan" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="selectInterests('mulher')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-venus"></i>
        <div>
          <p>{{ "text.woman" | translate }}</p>
          <span class="drescription-timer">{{
            "text.describeInterestWoman" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="selectInterests('ambos')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-transgender"></i>
        <div>
          <p>{{ "text.both" | translate }}</p>
          <span class="drescription-timer">{{
            "text.describeInterestBoth" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
  </ul>
</app-modal>

<app-modal #modalPhotoNotFound>
  <div class="contain-title">
    <p class="title-error">{{ "text.photoForProfile" | translate }}</p>
  </div>

  <div class="contain-image">
    <img
      src="assets/icon-static/take-photo.svg"
      class="image-take-foto-profile"
      alt=""
    />
  </div>

  <div class="contain-description-error">
    <p class="description-error">
      {{ "text.describePhotoForProfile" | translate }}
    </p>
  </div>

  <div class="contain-button-system-unavailable">
    <button
      appButtonStyle
      [buttonType]="'secondary'"
      (click)="modalPhotoNotFound.closeDialog(); openBottomSheet()"
    >
      {{ "button.takePhoto" | translate }}
    </button>
  </div>
</app-modal>

<app-modal #modalErrorRequest>
  <div class="contain-title">
    <p class="title-error">
      {{ "text.titleError" | translate }}
    </p>
  </div>

  <div class="contain-image">
    <img
      src="assets/icon-static/take-photo.svg"
      class="image-take-foto-profile"
      alt=""
    />
  </div>

  <div class="contain-description-error">
    <p class="description-error">
      {{ "text.describeErrorTryAgain" | translate }}
    </p>
  </div>

  <div class="contain-button-system-unavailable">
    <button
      appButtonStyle
      [buttonType]="'secondary'"
      (click)="modalErrorRequest.closeDialog()"
    >
      {{ "button.tryAgain" | translate }}
    </button>
  </div>
</app-modal>
