<div class="contain-buton-loggout">
  <button (click)="logout()">Sair</button>
</div>

<div class="container">
  <div
    class="contain-shared-message"
    [@fadeInOut]="showSnapshot ? 'in' : 'out'"
  >
    <div>
      <p class="text-complete-perfil">Completar perfil</p>
      <div *ngIf="!cameraImage; else takePhoto">
        <div class="contain-permission">
          <div class="contain-svg">
            <div [innerHTML]="sanitizedSvg"></div>
          </div>

          <div class="contain-button-take-photo">
            <button
              appButtonStyle
              [buttonType]="'primary'"
              (click)="openBottomSheet()"
            >
              Tirar foto para perfil.
            </button>
          </div>
        </div>
      </div>

      <ng-template #takePhoto>
        <div
          class="contain-photo-preview"
          *ngIf="cameraAllowed && cameraImage; else noCamera"
        >
          <div id="camera-app">
            <img
              *ngIf="cameraImage"
              [src]="cameraImage"
              class="photo-preview"
              alt="Preview da Foto"
            />
          </div>
          <div class="contain-button-take-photo">
            <button
              appButtonStyle
              [buttonType]="'primary'"
              (click)="openBottomSheet()"
            >
              Tirar foto para perfil
            </button>
          </div>
        </div>
      </ng-template>

      <ng-template #noCamera>
        <div class="contain-permission-denied">
          <img
            src="assets/icon-static/camera-not-allowed.svg"
            class="icon-camera-denied"
            alt="icone de permissoes negadas para acesso de câmera"
          />
          <div class="contain-button-take-photo">
            <button
              appButtonStyle
              [buttonType]="'primary'"
              (click)="requestCameraPermissionAgain()"
            >
              Permitir uso de câmera
            </button>
          </div>
        </div>
      </ng-template>
    </div>

    <form
      [formGroup]="avatarAndCompletedFormGroup"
      (submit)="createAvatarAndCompletedData()"
      class="contain-form-login"
    >
      <input
        type="text"
        placeholder="data de nascimento"
        appInputCustom
        class="input-custom"
        maxlength="10"
        formControlName="dateOfBirth"
        mask="00/00/0000"
      />
      <div
        class="contain-data-invalid"
        *ngIf="
        avatarAndCompletedFormGroup.get('dateOfBirth')?.touched &&
        avatarAndCompletedFormGroup.get('dateOfBirth')?.errors?.['invalidDate']
      "
      >
        <p class="data-invalid">Data inválida</p>
      </div>
      <div
        class="contain-data-invalid"
        *ngIf="
        avatarAndCompletedFormGroup.get('dateOfBirth')?.errors?.['underage']
      "
      >
        <p class="data-invalid">O usuário deve ter pelo menos 18 anos</p>
      </div>
      <div
        class="contain-data-invalid"
        *ngIf="
        avatarAndCompletedFormGroup.get('dateOfBirth')?.errors?.['futureDate']
      "
      >
        <p class="data-invalid">A data não pode ser maior que a data atual</p>
      </div>
      <input
        (click)="openModalGender()"
        type="text"
        placeholder="como você se identifica?"
        id=""
        [value]="typeGender"
        readonly
        appInputCustom
        class="input-custom"
        formControlName="gender"
      />
      <input
        (click)="openModalInterests()"
        type="text"
        placeholder="interesses"
        id=""
        appInputCustom
        class="input-custom"
        formControlName="interests"
      />
      <button
        class="buttom-create-avatar"
        appButtonStyle
        [buttonType]="'primary'"
        type="submit"
        (click)="completeDataFlow(cameraImage)"
        [disabled]="avatarAndCompletedFormGroup.invalid"
        [disabledButton]="avatarAndCompletedFormGroup.invalid"
      >
        <span *ngIf="!isLoadingButton">completar perfil</span>
        <div *ngIf="isLoadingButton" class="bouncing-dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </button>
    </form>
  </div>
</div>

<app-modal #genderModal>
  <ul class="list-action-timer">
    <div class="contain-title-modal">
      <p>Como você se identifica?</p>
    </div>

    <li class="action-timer" (click)="selectGender('homem')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-mars"></i>
        <div>
          <p>Homem</p>
          <span class="drescription-timer"
            >Se identifica com o genero atribuido.</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="selectGender('mulher')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-venus"></i>
        <div>
          <p>Mulher</p>
          <span class="drescription-timer"
            >Se identifica com o genero atribuido.</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="selectGender('não binário')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-transgender"></i>
        <div>
          <p>Não binario</p>
          <span class="drescription-timer"
            >Identidade além do binário tradicional.</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
  </ul>
</app-modal>

<app-modal #interestsModal>
  <ul class="list-action-timer">
    <div class="contain-title-modal">
      <p>Qual o seu interesse?</p>
    </div>

    <li class="action-timer" (click)="selectInterests('homem')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-mars"></i>
        <div>
          <p>Homem</p>
          <span class="drescription-timer"
            >Afinidade com o genero masculino.</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="selectInterests('mulher')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-venus"></i>
        <div>
          <p>Mulher</p>
          <span class="drescription-timer"
            >Afinidade com o genero feminino.</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="selectInterests('ambos')">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-transgender"></i>
        <div>
          <p>Ambos</p>
          <span class="drescription-timer"
            >Afinidade com ambos os generos.</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
  </ul>
</app-modal>

<app-modal #modalPhotoNotFound>
  <div class="contain-title">
    <p class="title-error">Ops, foto do perfil!</p>
  </div>

  <div class="contain-image">
    <img
      src="assets/icon-static/take-photo.svg"
      class="image-take-foto-profile"
      alt=""
    />
  </div>

  <div class="contain-description-error">
    <p class="description-error">
      Para concluir o seu cadastro você precisa tirar ou selecionar uma foto
      para o seu perfil.
    </p>
  </div>

  <div class="contain-button-system-unavailable">
    <button
      appButtonStyle
      [buttonType]="'secondary'"
      (click)="modalPhotoNotFound.closeDialog(); openBottomSheet()"
    >
      Tirar foto
    </button>
  </div>
</app-modal>

<app-modal #modalErrorRequest>
  <div class="contain-title">
    <p class="title-error">Ops, error de requisição!</p>
  </div>

  <div class="contain-image">
    <img
      src="assets/icon-static/take-photo.svg"
      class="image-take-foto-profile"
      alt=""
    />
  </div>

  <div class="contain-description-error">
    <p class="description-error">
      Ops no momento houve um erro de requisição. Tente novamente mais tarde.
    </p>
  </div>

  <div class="contain-button-system-unavailable">
    <button
      appButtonStyle
      [buttonType]="'secondary'"
      (click)="modalErrorRequest.closeDialog()"
    >
      Tentar novamente
    </button>
  </div>
</app-modal>
