<div class="container">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToPostMessage()"
    />
  </div>

  <div *ngIf="avatar">
    <div class="contain-avatar">
      <div>
        <img [src]="avatar.image" class="avatar" alt="" />
      </div>
    </div>

    <div class="contain-name-email">
      <p class="name">{{ avatar.user.name }}</p>
      <p class="email">{{ avatar.user.email }}</p>
    </div>
  </div>

  <div class="contain-button">
    <button appButtonStyle [buttonType]="'secondary'">Atualizar foto</button>
  </div>

  <app-post-like-state></app-post-like-state>

  <ul class="list-action-timer">
    <li class="action-timer">
      <div class="contain-icon-and-description">
        <div>
          <p>Perfil</p>
          <span class="drescription-timer">veja os dados do seu perfil.</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer">
      <div class="contain-icon-and-description">
        <div>
          <p>Meus Posts</p>
          <span class="drescription-timer"
            >veja todos os seus posts compartilhados.</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="goToNotification()">
      <div class="contain-icon-and-description">
        <div>
          <p>Notificação</p>
          <span class="drescription-timer">acompanhe suas notificações</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer">
      <div class="contain-icon-and-description">
        <div>
          <p>Chat</p>
          <span class="drescription-timer">veja suas conversas</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="goToPrivecePolice()">
      <div class="contain-icon-and-description">
        <div>
          <p>Politica de privacidade</p>
          <span class="drescription-timer"
            >Veja como a gente protege as suas informações.</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="logout()">
      <div class="contain-icon-and-description">
        <div>
          <p>Sair</p>
          <span class="drescription-timer">encerrar sessão</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
  </ul>
</div>
