<div class="container">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToPostMessage()"
    />
  </div>

  <div *ngIf="avatar">
    <div class="contain-avatar">
      <div>
        <img [src]="avatar.image" class="avatar" alt="" />
      </div>
    </div>

    <div class="contain-name-email">
      <p class="name">{{ avatar.user.name }}</p>
      <p class="email">{{ avatar.user.email }}</p>
    </div>
  </div>

  <div class="contain-button">
    <button appButtonStyle [buttonType]="'secondary'">Atualizar foto</button>
  </div>

  @if (isLoadingCardSubscription) {
  <div class="contain-load-shimmer-card">
    <app-load-shimmer [height]="'3rem'"></app-load-shimmer>

    <app-load-shimmer [height]="'9rem'"></app-load-shimmer>

    <app-load-shimmer [height]="'3rem'"></app-load-shimmer>
  </div>
  } @else if(showCardSubscription) {
  <app-card-subscription></app-card-subscription>
  } @else if (planSubscription) {
  <app-active-signature
    (clickeCardActiveSignature)="goToPlanActiveSignature(dataSubscription)"
    [plan]="dataSubscription.data?.plan"
    [description]="dataSubscription.data?.description"
    [labelTag]="labelTag"
    [currentPeriodEnd]="dataSubscription.data?.currentPeriodEnd"
  ></app-active-signature>
  }

  <ul class="list-action-timer">
    <li class="action-timer" (click)="goToUserData()">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-circle-user"></i>
        <div>
          <p>Perfil</p>
          <span class="drescription-timer">veja os dados do seu perfil.</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="goToUserPosts()">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-copy-image"></i>
        <div>
          <p>Posts compartilhados</p>
          <span class="drescription-timer"
            >veja todos os seus posts compartilhados.</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="goToNotification()">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-bell-ring"></i>
        <div>
          <p>Notificação</p>
          <span class="drescription-timer">acompanhe suas notificações</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="goToListChat()">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-comment-dots"></i>
        <div>
          <p>Chat</p>
          <span class="drescription-timer"
            >faça novas amizades com os matches</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="goToPrivecePolice()">
      <div class="contain-icon-and-description">
        <i class="fi fi-tr-password-email"></i>
        <div>
          <p>Politica de privacidade</p>
          <span class="drescription-timer"
            >veja como a gente protege as suas informações.</span
          >
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
    <li class="action-timer" (click)="logout()">
      <div class="contain-icon-and-description">
        <i class="fi fi-ts-sign-out-alt"></i>
        <div>
          <p>Sair</p>
          <span class="drescription-timer">encerrar sessão</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
  </ul>
</div>
