.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  padding: 1rem;
}

.contain-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.avatar {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  object-fit: cover;
}

.contain-name-emai {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.name {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}
