.contain-erro {
  background-color: #fffafa;
  border-radius: var(--space-medium);
  padding: var(--space-medium);
}

.title-error {
  font-weight: 700;
  font-size: var(--font-size-large);
  margin-bottom: var(--space-medium);
}
