<div class="premium-banner" (click)="onSubscribe()">
  <div class="premium-banner__border">
    <div class="premium-banner__content">
      <div class="premium-banner__icon">
        <span class="material-symbols-outlined">crown</span>
      </div>

      <div class="premium-banner__text">
        <p class="premium-banner__title">
          Desbloqueie todas as suas interações.
        </p>
        <p class="premium-banner__subtitle">Assine o Premium agora!</p>
      </div>

      <button class="premium-banner__button">Assinar</button>
    </div>
  </div>
</div>
