<div class="premium-banner" (click)="onSubscribe()">
  <div class="premium-banner__border">
    <div class="premium-banner__content">
      <div class="premium-banner__icon">
        <span class="material-symbols-outlined">crown</span>
      </div>

      <div class="premium-banner__text">
        <p class="premium-banner__title">
          {{ "text.premiumBannerTitle" | translate }}
        </p>
        <p class="premium-banner__subtitle">
          {{ "text.premiumBannerSubtitle" | translate }}
        </p>
      </div>

      <button class="premium-banner__button">
        {{ "button.subscribe" | translate }}
      </button>
    </div>
  </div>
</div>
