<div class="container">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToPostMessage()"
    />
  </div>

  <div class="contain-loading" *ngIf="isLoading; else videoContent">
    <div id="lottie-icon-is-loading" class="lottie-icon-no-match"></div>
  </div>

  <ng-template #videoContent>
    <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-8691674404508428"
      data-ad-slot="9624971551"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
  </ng-template>
</div>
