<div class="contain">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToListChat()"
    />
    <img [src]="userMatchAvatar" class="avatar" alt="" />
    <div>
      <p>
        <strong>{{ userMatchName }}</strong>
      </p>
      <span class="location"
        >{{ userMatchLocation.city }}/{{ userMatchLocation.stateCode }}</span
      >
    </div>
  </div>

  <div *ngIf="isLoading">
    <div class="contain-loading">
      <div id="lottie-icon-is-loading" class="lottie-icon-no-match"></div>
    </div>
  </div>

  <!-- <app-system-unavailable
    *ngIf="showSystemUnavailable && !isLoading"
    (clickLoading)="tryAgain()"
    [infoMessage]="
      'No momento estamos com nossos serviço indisponíves, volte novamente mais tarde!'
    "
  >
  </app-system-unavailable> -->

  <div class="messages-wrapper" [class.hidden]="isLoading">
    <div class="contain-tips" *ngIf="showOptionTips">
      <div class="contain-loading-tips" *ngIf="isLoadingTips">
        <app-load-shimmer [height]="'40px'"></app-load-shimmer>
        <app-load-shimmer [height]="'40px'"></app-load-shimmer>
        <app-load-shimmer [height]="'40px'"></app-load-shimmer>
      </div>

      <div *ngIf="!isLoadingTips">
        <p class="title-tips">
          Toque em uma das dicas abaixo para iniciar a conversa com
          {{ userMatchName }}.
        </p>
      </div>
      <div class="option-tips">
        <div *ngFor="let tip of tips">
          <button class="tip-item" (click)="choseTipsSendMessage(tip)">
            {{ tip }}
          </button>
        </div>
      </div>
    </div>

    <div class="contain-messages" *ngIf="!showOptionTips" #containMessages>
      <div
        *ngFor="let message of messages"
        [ngClass]="{
          'align-chat-right': getAlignment(message.user.userHashPublic)
        }"
        class="message"
      >
        <div class="group-message">
          <div class="message-user">
            <p class="message-text">{{ message.content }}</p>
            <p class="message-time">{{ message.createdAt }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="contain-send-message">
      <form
        [formGroup]="sendMessageFormGroup"
        (submit)="sendMessage()"
        class="input-container"
      >
        <input
          formControlName="sendMessage"
          maxlength="500"
          type="text"
          placeholder="Digite sua mensagem"
          class="input-field"
        />
        <button
          class="button-send-message"
          [disabled]="sendMessageFormGroup.invalid"
          type="submit"
        >
          <i class="fi fi-rr-paper-plane"></i>
        </button>
      </form>
    </div>
  </div>
</div>
