.contain {
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.body {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.messages-wrapper {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

i {
  font-size: var(--font-size-large);
  color: var(--text-dark-secundary);
  margin-right: var(--space-medium);
}

.header-user-data {
  display: flex;
  align-items: center;
}

.location {
  font-size: var(--font-size-small);
  color: var(--text-dark-secundary);
}

.contain-loading {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.contain-send-message {
  position: relative;
  // z-index: 1;

  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-top: 1px solid #e2e2e2;
}

input {
  border: none;
  width: 100%;
  border-radius: 50px;
  flex-grow: 1;
  outline: none;
  padding-left: 1rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-left: var(--space-small);
  margin-right: var(--space-small);
}

.hidden {
  display: none;
}

.avatar-message {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.contain-tips {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.option-tips {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
  padding: 1rem;
}

.title-tips {
  line-height: 1.5rem;
  color: var(--text-dark-secundary);
  font-size: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contain-loading-tips {
  width: 100%;
  padding: 1rem;
}

.tip-item {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &:active {
    background-color: #003f7f;
  }
}

.contain-messages {
  flex: 1;
  position: relative;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.message {
  margin: 1rem 0;
  display: flex;

  &.align-chat-right {
    flex-direction: row-reverse;
    text-align: right;

    .message-user {
      margin-inline: var(--space-medium);
    }

    .message-text {
      background-color: #89b550;
      color: #fff;
      margin-left: var(--space-large);
      border-radius: 3rem;
      padding-right: 1.5rem;
    }

    .message-time {
      margin-left: 0;
    }
  }
}

.message-text {
  background-color: #53a7d0;
  color: #fff;
  padding: var(--space-medium);
  border-radius: 1.5rem;
}

.group-message {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;

  &.align-chat-right {
    justify-content: flex-end;
  }
}

.message-user-name {
  margin-inline: var(--space-medium);
  // padding-bottom: var(--space-small);
  font-weight: 700;
}

.message-user {
  margin-inline: var(--space-medium);
}

.message-time {
  margin-inline: var(--space-medium);
  font-size: var(--font-size-small);
  font-weight: 700;
  margin-top: var(--space-small);
  color: #acacac;
}

.avatar-message {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5rem;
  width: 100%;
  padding: 1rem;
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--text-dark);
}

input[appInputCustom] {
  border: none !important;
  outline: none;
}

.button-send-message {
  border: none;
  padding-right: var(--space-medium);
  background: none;

  i {
    font-size: 24px;
    color: var(--text-dark);
  }

  &:disabled i {
    color: var(--text-dark-light);
  }
}

@mixin loading-effect {
  position: relative;
  overflow: hidden;
  background-color: #ccc;

  .shine {
    position: absolute;
    top: 0;
    left: -150%;
    width: 300%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shine 2s infinite;
  }
}

@keyframes shine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.header-load-shimmer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.contain-bar {
  padding: 1rem;
}

.aling-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.load-shimmer-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  @include loading-effect;

  .shine {
    border-radius: 50%;
  }
}

.loading-shimmer-name {
  width: 100px;
  height: 1rem;
  border-radius: 0.8rem;
  @include loading-effect;
  margin-left: 0.5rem;
}

.loading-bar {
  width: 70%;
  height: 4rem;
  // margin-top: 10px;
  border-radius: 0.8rem;
  @include loading-effect;
}

.button-option-tips {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: var(--purple);
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.contain-title-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .title-modal {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: var(--space-large) 0;
  }
}

.contain-loading-generate-tips {
  width: 100%;
  margin-bottom: var(--space-large);
}

.contain-alert {
  padding: var(--space-medium);
  background-color: #fdfacb;
  border-radius: 0.5rem;
  margin-top: var(--space-large);

  p {
    color: #9b8b55;
    line-height: 1.5rem;
  }
}

// .alert-error-message {
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   bottom: 7rem;
//   width: 100%;
//   padding: 10px;
//   z-index: 10;

//   p {
//     background-color: #783d59;
//     color: #fff;
//     padding: 1rem;
//     border-radius: 2rem;
//     font-size: 0.8rem;
//   }
// }
