<div class="container">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToProfile()"
    />
  </div>

  <div class="container-title-subtitle">
    <h1 class="title">{{ "text.notifications" | translate }}</h1>
  </div>

  @if (isLoading) {
  <div>
    <app-load-shimmer [height]="'50px'"></app-load-shimmer>

    <app-load-shimmer [height]="'50px'"></app-load-shimmer>

    <div class="custumer-shimmer">
      <app-load-shimmer [height]="'50px'"></app-load-shimmer>
    </div>

    <div class="custumer-shimmer-80">
      <app-load-shimmer [height]="'50px'"></app-load-shimmer>
    </div>
  </div>
  }@else if (errorRequest) {
  <app-error></app-error>
  }@else if (userNotification) {
  <p>{{ "text.noNotifications" | translate }}</p>
  }@else { @if (showCardSubscription) {
  <div class="contain-card-like-user">
    <app-active-signature-like-user></app-active-signature-like-user>
  </div>
  }

  <section>
    <div class="image-container" *ngFor="let notification of notifications">
      <img [src]="notification.user.avatar" alt="" />
      <div class="overlay">
        @if (notification.user.name === null) {
        <div class="bar"></div>
        }@else {
        <p>{{ filterFirstUserName(notification.user.name) }}</p>
        }
        <p>curtiu você</p>
      </div>
    </div>
  </section>
  }
</div>
