.container {
  display: flex;
  flex-direction: column;
  padding: var(--space-medium);
  height: 100dvh;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.container-title-subtitle {
  margin-top: var(--space-xlarge);
  margin-bottom: var(--space-xlarge);
}

.subtitle {
  color: var(--text-dark-secundary);
  margin-top: var(--space-small);
}

.contain-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

img {
  width: 100%;
  height: 12rem;
  border-radius: 1rem;
  margin-bottom: var(--space-small);
  object-fit: cover;
}

section {
  column-count: 2;
}

.image-container {
  position: relative;
}

.list-notification {
  flex: 1;
  overflow: auto;
  list-style: none;

  &:not(:last-child) {
    margin-bottom: var(--space-medium);
    border-bottom: 1px solid var(--color-dp-gray-light);
  }
}

.contain-description {
  display: flex;
  color: var(--text-dark-d1);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: var(--space-medium);
}

.text-highlight {
  color: var(--text-dark);
}

.contain-post-message {
  padding: 1rem;
}
