.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.badge-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.user-wrapper {
  color: var(--white);
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-align: right;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.user-name {
  font-weight: 900;
  font-size: var(--font-size-large);
}
