<!-- <div class="container">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToPostList()"
    />
  </div>

  <div class="contain-take-photo">
    <div class="contain-photo-state">
      <div *ngIf="!cameraImage; else takePhoto" class="information-take-photo">
        <img
          src="assets/icon-static/choose-camera.svg"
          class="image-information-svg"
          alt=""
        />
      </div>

      <ng-template #takePhoto>
        <div *ngIf="cameraAllowed && cameraImage" class="take-photo-preview">
          <img class="photo-preview" [src]="cameraImage" />
        </div>
      </ng-template>
    </div>

    <div class="contain-button">
      <button
        *ngIf="cameraImage"
        class="space-bottom style-button"
        appButtonStyle
        (click)="postMessage(cameraImage)"
        [buttonType]="'primary'"
        [disabled]="disabledButton"
        [disabledButton]="disabledButton"
      >
        <span *ngIf="!disabledButton">{{
          "button.sharedPost" | translate
        }}</span>
        <div *ngIf="disabledButton" class="bouncing-dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </button>
      <button
        [disabled]="disabledButton"
        [disabledButton]="disabledButton"
        appButtonStyle
        (click)="openBottomSheet()"
        [buttonType]="'primary'"
      >
        {{ "button.takePhoto" | translate }}
      </button>
    </div>
  </div>
</div> -->
<div class="content">
  <header class="header header--position-right">
    <button class="icon-button" (click)="goBack()">
      <span class="material-symbols-outlined">close</span>
    </button>
  </header>

  <div class="container-title-subtitle">
    <h1 class="title">Create Timed Post</h1>
    <p class="subtitle">Share a moment that lasts for a limited time</p>
  </div>

  <section class="upload">
    <div class="upload__box">
      <div class="upload__icon-wrapper">
        <span class="material-symbols-outlined">add_a_photo</span>
      </div>
      <span class="upload__title">Upload Photo</span>
      <span class="upload__subtitle">Tap to select from gallery</span>
    </div>

    <div class="upload__badge">Expira em {{ selectedDuration }}</div>
  </section>

  <section class="duration">
    <h3>
      <span class="material-symbols-outlined">timer</span>
      Visibility Duration
    </h3>

    <div class="duration-list">
      @for (item of durations; track item.value) {
      <app-duration-option
        [option]="item"
        [selected]="selectedDuration === item.value"
        (select)="selectDuration($event)"
      >
      </app-duration-option>
      }
    </div>
  </section>

  <button appButton (click)="post()" [disabled]="isLoadingButton">
    @if (isLoadingButton) {
    <app-spinner></app-spinner>
    } @else {
    <ng-container> Enviar </ng-container>
    }
  </button>
</div>
