<div class="container">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToPostList()"
    />
  </div>

  <!-- <div>
    <div class="contain-photo-preview">
      <div id="camera-app">
        <img [src]="cameraImage" class="photo-preview" alt="Preview da Foto" />
      </div>
      <button (click)="openBottomSheet()" class="button-take-snapshot">
        Tirar Foto
      </button>

      <button
        (click)="postMessagePhoto(cameraImage)"
        class="button-take-snapshot"
      >
        Postar foto
      </button>
    </div>
  </div> -->

  <div class="contain-lottie" [@fadeInOut]="showLottieIcon ? 'in' : 'out'">
    <div
      id="lottie-icon-camera-register"
      class="lottie-icon-camera-register"
    ></div>
  </div>

  <div
    class="contain-shared-message"
    [@fadeInOut]="showSnapshot ? 'in' : 'out'"
  >
    <div>
      <div *ngIf="!cameraImage; else takePhoto">
        <div class="contain-permission">
          <img
            src="assets/icon-static/icon-camera.svg"
            class="icon-camera-allowed"
            alt="icone de permissoes negadas para acesso de câmera"
          />
          <p class="text-permission-denied">
            Tire uma foto ou escolha uma da galeria para postar ;)
          </p>
          <button (click)="openBottomSheet()" class="button-take-snapshot">
            Tirar Foto
          </button>
        </div>
      </div>

      <ng-template #takePhoto>
        <div
          class="contain-photo-preview"
          *ngIf="cameraAllowed && cameraImage; else noCamera"
        >
          <div id="camera-app">
            <img
              *ngIf="cameraImage"
              [src]="cameraImage"
              class="photo-preview"
              alt="Preview da Foto"
            />
          </div>
          <button (click)="openBottomSheet()" class="button-take-snapshot">
            Tirar Foto
          </button>

          <button
            *ngIf="cameraImage"
            (click)="postMessagePhoto(cameraImage)"
            class="button-take-snapshot"
          >
            Postar foto
          </button>
        </div>
      </ng-template>

      <ng-template #noCamera>
        <div class="contain-permission-denied">
          <img
            src="assets/icon-static/camera-not-allowed.svg"
            class="icon-camera-denied"
            alt="icone de permissoes negadas para acesso de câmera"
          />
          <p class="text-permission-denied">
            Para fazer um post, é necessário que você permita o uso da câmera do
            seu dispositivo.
          </p>
          <button
            class="button-take-snapshot"
            (click)="requestCameraPermissionAgain()"
          >
            Permitir uso de câmera
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
