.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content {
  flex: 1 1 auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  min-height: 0;
}

.icon-camera {
  width: 2.1rem;
  height: 2.1rem;
}

.card-explorer-ia {
  flex: 0 0 auto;
  z-index: 1;
  background-color: var(--white);
  border-radius: var(--space-medium);
  padding: var(--space-medium);
  margin: 0 var(--space-medium);
}

.contain-description {
  text-align: center;
  padding: 1rem;
}

.contain-description-title {
  font-weight: 900;
  padding-bottom: 1rem;
  font-size: var(--font-size-large);
  color: var(--text-dark);
}

app-cards {
  flex: 1 1 auto;
  min-height: 0;
  margin-bottom: -54px;
}
