.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.loading-container {
  flex: 1;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: stretch;
}

.swiper-container {
  flex: 1;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  flex: 0 0 auto;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-content {
  width: 100%;
  height: 100%;
}

.mySwiper {
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.card-footer {
  width: 100%;
  bottom: 1rem;
  padding: 1rem;
  position: absolute;
}

.card-footer-infor {
  color: var(--white);
  padding: 1rem;
}

.ia-name {
  font-weight: 900;
  font-size: var(--font-size-large);
}

.bottom-loadd-shimmer {
  margin-top: auto;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: stretch;
}

app-card-loading-shimmer {
  display: flex;
  flex: 1 1 auto;
}
