<div class="content">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      alt="arrow"
      (click)="goToProfile()"
    />
  </div>

  <div class="main-content">
    <div
      class="card-signature"
      [ngStyle]="{
        background:
          'linear-gradient(to bottom, ' +
          subscription?.data?.colorTop +
          ', ' +
          subscription?.data?.colorBottom +
          ')'
      }"
    >
      <div class="card-signature-content">
        <div class="card-signature-header">
          <img
            [src]="subscription?.data?.logoPath"
            alt="arrow"
            (click)="goToProfile()"
          />
          <div class="plan">
            <span class="nickname">Plano</span>
            <p class="name">{{ subscription?.data?.plan }}</p>
          </div>
        </div>

        <p class="description">{{ subscription?.data?.description }}</p>
        <p class="price">
          {{
            subscription?.data?.amountPaid
              | currency : subscription?.data?.currency : "symbol" : "1.2-2"
          }}
        </p>

        @if (subscription?.data?.cancelAtPeriodEnd) {
        <p>
          Assinatura cancelada em
          {{
            subscription?.data?.cancelAt
              | date : "dd/MM/yyyy " + "'as'" + " HH:mm"
          }}.
          <strong
            >Seu período de ativação será até
            {{
              subscription?.data?.currentPeriodEnd | date : "dd/MM/yyyy HH:mm"
            }}</strong
          >
        </p>
        }@else {
        <p class="next-payment">
          próxima cobrança:
          {{ subscription?.data?.currentPeriodEnd | date : "dd/MM/yyyy HH:mm" }}
        </p>
        }
      </div>
      <div
        class="contain-button"
        *ngIf="!subscription?.data?.cancelAtPeriodEnd"
      >
        <button
          appButtonStyle
          (click)="modalCancelSignature.openDialog()"
          class="button"
          [buttonType]="'primary'"
        >
          <span [ngStyle]="{ color: subscription?.data?.colorBottom }"
            >Cancelar assinatura</span
          >
        </button>
      </div>
    </div>
  </div>
</div>

<app-modal #modalCancelSignature>
  <div class="contain-title">
    <p class="title">Tem certeza que deseja cancelar a assinatura?</p>
  </div>

  @if (showError) {
  <app-error></app-error>
  }@else {
  <p style="margin-bottom: 1rem">
    Ao cancelar a assinatura seu plano expira em
    <strong>
      {{
        subscription?.data?.currentPeriodEnd | date : "dd/MM/yyyy HH:mm"
      }}</strong
    >
  </p>
  }

  <div class="contain-button-system-unavailable">
    <button
      appButtonStyle
      [buttonType]="'secondary'"
      class="button-delete-signature"
      (click)="cancelSubscription()"
      [disabled]="buttonDisalbled"
      [disabledButton]="buttonDisalbled"
      type="submit"
    >
      <span *ngIf="!buttonDisalbled">Cancelar assinatura</span>
      <div *ngIf="buttonDisalbled" class="bouncing-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </button>
  </div>
</app-modal>
