.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  padding: var(--space-medium);
}

.main-content {
  flex: 1;
  padding: var(--space-medium);
  overflow: auto;
  color: var(--white);
}

.card-signature {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--space-medium);
  padding: var(--space-medium);
  // background: linear-gradient(to bottom, #00b894, #03836a);
  justify-content: space-between;
}

.card-signature-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plan {
  margin-left: var(--space-small);
  font-weight: 700;
}

.name {
  font-size: var(--font-size-large);
}

.description {
  margin-top: var(--space-large);
  margin-bottom: var(--space-large);
}

.price {
  font-size: var(--font-size-xxlarge);
  margin-bottom: var(--space-large);
  font-weight: 700;
}

.button {
  background-color: #fff !important;
  color: #03836a !important;
  position: relative;
  z-index: 2;
}

.card-signature-content {
  line-height: 1.5rem;
}
