<div class="content">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      alt="arrow"
      (click)="goToProfile()"
    />
  </div>

  <div class="main-content">
    <div
      class="card-signature"
      [ngStyle]="{
        background:
          'linear-gradient(to bottom, ' +
          subscription?.data?.colorTop +
          ', ' +
          subscription?.data?.colorBottom +
          ')'
      }"
    >
      <div class="card-signature-content">
        <div class="card-signature-header">
          <img [src]="subscription?.data?.logoPath" alt="arrow" />
          <div class="plan">
            <span class="nickname">{{ "text.plan" | translate }}</span>
            <p class="name">{{ subscription?.data?.plan }}</p>
          </div>
        </div>

        <p class="description">{{ subscription?.data?.description }}</p>
        <p class="price">
          {{
            subscription?.data?.amountPaid
              | currency : subscription?.data?.currency : "symbol" : "1.2-2"
          }}
        </p>

        @if (subscription?.data?.cancelAtPeriodEnd && subscription?.data?.status
        !== 'trialing') {
        <p>
          {{ "text.subscriptionCancelledAt" | translate }}
          {{
            subscription?.data?.cancelAt
              | date : "dd/MM/yyyy " + "'ás'" + " HH:mm"
          }}.
        </p>
        }
        <p>
          {{ "text.yourActivationPeriodUntil" | translate
          }}<strong>
            {{
              subscription?.data?.currentPeriodEnd
                | date : "dd/MM/yyyy " + "'ás'" + " HH:mm"
            }}</strong
          >
          >
        </p>
        @if (!subscription?.data?.cancelAtPeriodEnd &&
        subscription?.data?.status !== 'trialing' ) {
        <p class="next-payment">
          {{ "text.nextCharge" | translate }}
          {{
            subscription?.data?.currentPeriodEnd
              | date : "dd/MM/yyyy " + "'ás'" + " HH:mm"
          }}
        </p>
        }
      </div>
      <div
        class="contain-button"
        *ngIf="
          !subscription?.data?.cancelAtPeriodEnd &&
          subscription?.data?.status !== 'trialing'
        "
      >
        <button
          appButtonStyle
          (click)="modalCancelSignature.open()"
          class="button"
          [buttonType]="'primary'"
        >
          <span [ngStyle]="{ color: subscription?.data?.colorBottom }">{{
            "button.cancelSubscription" | translate
          }}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<app-modal #modalCancelSignature>
  <div class="contain-title">
    <p class="title">{{ "text.confirmCancelSubscription" | translate }}</p>
  </div>

  @if (showError) {
  <app-error></app-error>
  }@else {
  <p style="margin-bottom: 1rem">
    Ao cancelar a assinatura seu plano expira em
    <strong>
      {{
        subscription?.data?.currentPeriodEnd | date : "dd/MM/yyyy HH:mm"
      }}</strong
    >
  </p>
  }

  <div class="contain-button-system-unavailable">
    <button
      appButtonStyle
      [buttonType]="'secondary'"
      class="button-delete-signature"
      (click)="cancelSubscription()"
      [disabled]="buttonDisalbled"
      [disabledButton]="buttonDisalbled"
      type="submit"
    >
      <span *ngIf="!buttonDisalbled">{{
        "button.cancelSubscription" | translate
      }}</span>
      <div *ngIf="buttonDisalbled" class="bouncing-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </button>
  </div>
</app-modal>
