<div class="container">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToProfile()"
    />
  </div>

  <div class="container-title-subtitle">
    <h1 class="title">{{ "text.sharedPosts" | translate }}</h1>
    <p class="subtitle">{{ userName }}</p>
  </div>

  <div *ngIf="isLoading">
    <app-load-shimmer [height]="'50px'"></app-load-shimmer>

    <app-load-shimmer [height]="'50px'"></app-load-shimmer>

    <div class="custumer-shimmer">
      <app-load-shimmer [height]="'50px'"></app-load-shimmer>
    </div>

    <div class="custumer-shimmer-80">
      <app-load-shimmer [height]="'50px'"></app-load-shimmer>
    </div>
  </div>

  <app-system-unavailable
    *ngIf="showSystemUnavailable"
    (clickLoading)="tryAgain()"
    [infoMessage]="
      'No momento estamos com nossos serviços indisponíves, volte novamente mais tarde!'
    "
  >
  </app-system-unavailable>

  <section *ngIf="!showSystemUnavailable">
    <div *ngIf="!isLoading" class="user-post-message__grid">
      <div
        class="user-post-message__image-wrapper"
        *ngFor="let postMessage of listPostMessage; let i = index"
      >
        @if (!postMessage.isExpired) {
        <div class="user-post-message__badge">
          <div class="user-post-message__badge">
            <app-badge-circle
              [title]="postMessage.updatedAt"
              fontSize="0.5625rem"
              padding="0.25rem 0.6rem"
            ></app-badge-circle>
          </div>
        </div>
        }
        <div class="user-post-message__image-container">
          <img
            [src]="postMessage.image"
            [style.height]="randomHeights[i]"
            alt=""
            class="user-post-message__image"
          />
          <div class="user-post-message__overlay">
            <img
              src="assets/icon-static/heart-like.svg"
              class="user-post-message__heart-like"
              alt=""
            />
            <p>{{ postMessage.totalLikes }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
