.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100dvh;
  overflow: hidden;
}

.contain-swiper {
  opacity: 0;
  animation: fadeIn 0.2s ease-in-out forwards; // 0.8 segundos para completar o fade
}
.header {
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  display: grid;
  height: 100vh;
}

.list-post-message {
  display: flex;
  height: calc(100vh - 4rem);
}

.list-post-message::-webkit-scrollbar {
  width: 0;
}

.user-post-image {
  padding: 1rem;
  flex: none;
  margin-right: 10px;
  width: 100%;
  scroll-snap-align: start;
}

img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-avatar {
  margin-top: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.actions {
  display: flex;
}

.icon-camera {
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Novo estilo para sobrepor a .heater */
.heater {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin: 0 auto;
  width: 100%;
  z-index: 100;
}

.lottie-container {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.872);
}

.no-matches-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contain-loading {
  display: flex;
  height: calc(100vh - 4rem);
  justify-content: center;
  align-items: center;
}

.lottie-icon-no-match {
  width: 100%;
  height: 150px;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
    transform: translateY(5px); // Move um pouco para baixo no início
  }
  to {
    opacity: 1;
    transform: translateY(0); // Retorna à posição original
  }
}
