<div class="container">
  <div class="header">
    <div class="title-app">
      <app-logo-dropmessage [fontSize]="'1rem'"></app-logo-dropmessage>
    </div>
    <div class="actions">
      <div
        (click)="openBottomSheet()"
        id="lottie-icon-camera"
        class="lottie-icon-camera"
        style="width: 67px; height: 67px"
      ></div>
      <div *ngIf="imageLoaded; else loading">
        <img
          (click)="goToListSettings()"
          [src]="dataAvatar.image"
          class="user-avatar"
          alt="User Avatar"
        />
      </div>
      <ng-template #loading>
        <div class="contain-loading-avatar"></div>
      </ng-template>
    </div>
  </div>

  <app-system-unavailable
    *ngIf="showSystemUnavailable"
    (clickLoading)="tryAgainLoadingPostMessage()"
    [infoMessage]="textInformationSystemUnavailable"
  >
  </app-system-unavailable>

  <div *ngIf="!isLoaded">
    <div class="contain-loading">
      <div id="lottie-icon-is-loading" class="lottie-icon-no-match"></div>
    </div>
  </div>

  <div *ngIf="isLoaded" class="contain-swiper">
    <swiper-container class="list-post-message mySwiper">
      <swiper-slide *ngFor="let post of posts" class="user-post-image">
        <ng-container
          *ngIf="post.id !== 'no-matches' && post.id !== 'watch-video-reward'"
        >
          <div class="contain-user-data">
            <p class="user-name">{{ post.user.name }}</p>
            <span class="user-location"
              >{{ post.user.UserLocation.city }}/{{
                post.user.UserLocation.stateCode
              }}</span
            >
          </div>
          <img [src]="post.image" alt="" />
        </ng-container>

        <div
          class="watch-video-reward"
          *ngIf="post.id === 'watch-video-reward'"
        >
          <p class="title-no-users-nearby">Gostaria de mais curtidas?</p>
          <img
            class="no-users-nearby"
            src="assets/icon-static/must-watch-video.svg"
            alt=""
          />
          <!-- <p>No momento não encontramos novas amizades para você!</p> -->
          <p>
            Assista o vídeo publicitário abaixo para continuar com mais
            curtidas.
          </p>

          <div class="contain-button-video-reward">
            <button
              appButtonStyle
              [buttonType]="'secondary'"
              (click)="goToAdMobVideoReward()"
            >
              Toque para assistir
            </button>
          </div>
        </div>

        <div class="no-matches-message" *ngIf="post.id === 'no-matches'">
          <p class="title-no-users-nearby">Ops, sem novas amizades!</p>
          <img
            class="no-users-nearby"
            src="assets/icon-static/image-home.svg"
            alt=""
          />
          <!-- <p>No momento não encontramos novas amizades para você!</p> -->
          <p>Que tal tentar novamente mais tarde?</p>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="heater" *ngIf="showLikeButton">
      <div
        id="lottie-container"
        class="lottie-container"
        style="width: 120px; height: 120px"
        (click)="likePostMessage()"
      ></div>
    </div>
  </div>
</div>
