.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100dvh;
  overflow: hidden;
}

.contain-swiper {
  opacity: 0;
  animation: fadeIn 0.2s ease-in-out forwards;
}

.header {
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  display: grid;
  height: 100vh;
}

.list-post-message {
  display: flex;
  height: calc(100vh - 4rem);
}

.list-post-message::-webkit-scrollbar {
  width: 0;
}

.user-post-image {
  padding: 1rem;
  flex: none;
  margin-right: 10px;
  width: 100%;
  scroll-snap-align: start;
}

img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-avatar {
  margin-top: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

// Loading shimmer para o avatar
.contain-loading-avatar {
  margin-top: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; /* Inicia fora do contêiner */
    height: 100%;
    width: 200%; /* Largura aumentada para garantir cobertura total */
    background: linear-gradient(
      90deg,
      rgba(224, 224, 224, 0) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(224, 224, 224, 0) 100%
    );
    animation: shimmer 1.2s ease-in-out infinite;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.actions {
  display: flex;
}

.icon-camera {
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heater {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
}

.lottie-container {
  background-color: rgba(255, 255, 255, 0.872);
  border-radius: 50%;
  width: 50px;
}

.no-matches-message {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
}

.no-users-nearby {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 2rem;
}

.title-no-users-nearby {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contain-loading {
  display: flex;
  height: calc(100vh - 4rem);
  justify-content: center;
  align-items: center;
}

.lottie-icon-no-match {
  width: 100%;
  height: 150px;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
