.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--color-light-dark);
  padding: 1rem;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
