<div class="container">
  <img
    src="assets/icon-static/arrow-left.svg"
    (click)="goToHomePostMessages()"
    alt=""
  />
  <div>
    <img
      class="user-avatar"
      src="https://media.istockphoto.com/id/1211311866/pt/foto/stylish-casual-woman-enjoying-sun-at-tropical-beach.jpg?s=612x612&w=0&k=20&c=W52Cl-zvdNoAzPE65KtsXE4-9-bvP8cr6QQBssK6o_Q="
      alt=""
    />

    <h2>Ana Carolina</h2>
    <span>João Pessoa/PB</span>
  </div>

  <div>
    <ul class="list-action-timer">
      <li class="action-timer">
        <div class="contain-icon-and-description">
          <img
            src="assets/icon-static/camera-bottomsheet.svg"
            class="icon-camera-timer"
            alt=""
          />
          <div>
            <p>Perfil</p>
            <span class="drescription-timer"
              >Edite ou complete o seu perfil</span
            >
          </div>
        </div>
        <img src="assets/icon-static/arrow-right.svg" alt="" />
      </li>

      <li class="action-timer">
        <div class="contain-icon-and-description">
          <img
            src="assets/icon-static/camera-bottomsheet.svg"
            class="icon-camera-timer"
            alt=""
          />
          <div>
            <p>Meus Posts</p>
            <span class="drescription-timer"
              >Veja todos os seus posts compartilhados.</span
            >
          </div>
        </div>
        <img src="assets/icon-static/arrow-right.svg" alt="" />
      </li>
      <li class="action-timer">
        <div class="contain-icon-and-description">
          <img
            src="assets/icon-static/camera-bottomsheet.svg"
            class="icon-camera-timer"
            alt=""
          />
          <div>
            <p>Notificação</p>
            <span class="drescription-timer">acompanhe suas notificações</span>
          </div>
        </div>
        <img src="assets/icon-static/arrow-right.svg" alt="" />
      </li>
      <li class="action-timer">
        <div class="contain-icon-and-description">
          <img
            src="assets/icon-static/camera-bottomsheet.svg"
            class="icon-camera-timer"
            alt=""
          />
          <div>
            <p>Chat</p>
            <span class="drescription-timer">veja suas conversas</span>
          </div>
        </div>
        <img src="assets/icon-static/arrow-right.svg" alt="" />
      </li>
      <li class="action-timer">
        <div class="contain-icon-and-description">
          <img
            src="assets/icon-static/camera-bottomsheet.svg"
            class="icon-camera-timer"
            alt=""
          />
          <div>
            <p>Sair</p>
            <span class="drescription-timer">encerrar sessão</span>
          </div>
        </div>
        <img src="assets/icon-static/arrow-right.svg" alt="" />
      </li>
    </ul>
  </div>
</div>
