<div class="container">
  <img
    src="assets/icon-static/arrow-left.svg"
    (click)="goToHomePostMessages()"
    alt="voltar"
  />
  <div>
    <img class="user-avatar" src="assets/jo.jpeg" alt="" />

    <h2>Dyana Joice</h2>
    <span>João Pessoa/PB</span>
  </div>

  <div>
    <ul class="list-action-timer">
      <li class="action-timer">
        <div class="contain-icon-and-description">
          <!-- <img
            src="assets/icon-static/icon-user-2.svg"
            class="icon-camera-timer"
            alt=""
          /> -->
          <div>
            <p>Perfil</p>
            <span class="drescription-timer"
              >Edite ou complete o seu perfil</span
            >
          </div>
        </div>
        <img src="assets/icon-static/arrow-right.svg" alt="" />
      </li>

      <li class="action-timer">
        <div class="contain-icon-and-description">
          <!-- <img
            src="assets/icon-static/galery.svg"
            class="icon-camera-timer"
            alt=""
          /> -->
          <div>
            <p>Meus Posts</p>
            <span class="drescription-timer"
              >Veja todos os seus posts compartilhados.</span
            >
          </div>
        </div>
        <img src="assets/icon-static/arrow-right.svg" alt="" />
      </li>
      <li class="action-timer">
        <div class="contain-icon-and-description">
          <!-- <img
            src="assets/icon-static/notification.svg"
            class="icon-camera-timer"
            alt=""
          /> -->
          <div>
            <p>Notificação</p>
            <span class="drescription-timer">acompanhe suas notificações</span>
          </div>
        </div>
        <img src="assets/icon-static/arrow-right.svg" alt="" />
      </li>
      <li class="action-timer">
        <div class="contain-icon-and-description">
          <!-- <img
            src="assets/icon-static/icon-chat-2.svg"
            class="icon-camera-timer"
            alt=""
          /> -->
          <div>
            <p>Chat</p>
            <span class="drescription-timer">veja suas conversas</span>
          </div>
        </div>
        <img src="assets/icon-static/arrow-right.svg" alt="" />
      </li>
      <li class="action-timer" (click)="goToSign()">
        <div class="contain-icon-and-description">
          <!-- <img
            src="assets/icon-static/icon-logout.svg"
            class="icon-camera-timer"
            alt=""
          /> -->
          <div>
            <p>Sair</p>
            <span class="drescription-timer">encerrar sessão</span>
          </div>
        </div>
        <img src="assets/icon-static/arrow-right.svg" alt="" />
      </li>
    </ul>
  </div>
</div>
