<div class="contain-bottomsheet">
  <div class="contain-header-bottomsheet">
    <span class="bottomsheet-text-header">
      {{ "text.chooseTimer" | translate }}
    </span>
    <div class="contain-arrow-down">
      <button aria-label="fechar modal" class="button-down" (click)="dismiss()">
        <img
          aria-hidden="true"
          src="assets/icon-static/arrow-down.svg"
          alt=""
        />
      </button>
    </div>
  </div>

  <ul class="list-action-timer">
    <li class="action-timer" (click)="selectPostTimer('addThirtyMin')">
      <div class="contain-icon-and-description">
        <img
          src="assets/icon-static/camera-bottomsheet.svg"
          class="icon-camera-timer"
          alt=""
        />
        <div>
          <p>{{ "text.thirtyMinutes" | translate }}</p>
          <span class="drescription-timer">{{
            "text.descriptionThirtyMinutes" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>

    <li class="action-timer" (click)="selectPostTimer('addOneHour')">
      <div class="contain-icon-and-description">
        <img
          src="assets/icon-static/camera-bottomsheet.svg"
          class="icon-camera-timer"
          alt=""
        />
        <div>
          <p>{{ "text.sixtyMinutes" | translate }}</p>
          <span class="drescription-timer">{{
            "text.descriptionSixtyMinutes" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>

    <li class="action-timer" (click)="selectPostTimer('addOneday')">
      <div class="contain-icon-and-description">
        <img
          src="assets/icon-static/camera-bottomsheet.svg"
          class="icon-camera-timer"
          alt=""
        />
        <div>
          <p>{{ "text.oneDay" | translate }}</p>
          <span class="drescription-timer">{{
            "text.descriptionOneDay" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
  </ul>
</div>
