<div class="container">
  <div class="container-header">
    <div class="header">
      <img
        src="assets/icon-static/arrow-left.svg"
        style="width: 24px; height: 24px"
        alt=""
        (click)="goToProfile()"
      />
    </div>

    <div class="container-title-subtitle">
      <h1 class="title">Chat</h1>
      <p class="subtitle">Converse com os matches do seu perfil</p>
    </div>
  </div>

  <div class="contain-loading" *ngIf="isLoading">
    <div id="lottie-icon-is-loading" class="lottie-icon-no-match"></div>
  </div>

  <app-system-unavailable
    *ngIf="showSystemUnavailable && !isLoading"
    (clickLoading)="tryAgain()"
    [infoMessage]="
      'No momento estamos com nossos serviços indisponíves, volte novamente mais tarde!'
    "
  >
  </app-system-unavailable>

  <div *ngIf="listChat.length === 0 && !showSystemUnavailable && !isLoading">
    <p class="subtitle">No momento ainda não há matches.</p>
  </div>

  <div *ngIf="!showSystemUnavailable && !isLoading">
    <ul>
      <li *ngFor="let chat of listChat" (click)="goToChat(chat)">
        <img [src]="chat.avatar" class="avatar" alt="" />
        <div>
          <p class="name">{{ chat.name }}</p>
          <p class="last-message">ainda não iniciaram uma conversa</p>
        </div>
      </li>
    </ul>
  </div>
</div>
