.container {
  display: flex;
  flex-direction: column;
  padding: var(--space-medium);
  height: 100dvh;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.container-title-subtitle {
  margin-top: var(--space-xlarge);
  margin-bottom: var(--space-xlarge);
}

.subtitle {
  color: var(--text-dark-secundary);
  margin-top: var(--space-small);
}

.contain-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    &:not(:last-child) {
      padding-bottom: var(--space-medium);
      border-bottom: 1px solid #f1f1f1;
    }
  }
}

.name {
  font-size: var(--font-size-medium);
  font-weight: 700;
}

.avatar {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.last-message {
  color: var(--text-dark-secundary);
  font-size: var(--font-size-small);
  padding-top: var(--space-small);
}
