<div class="container">
  <div>
    <div class="header">
      <img
        src="assets/icon-static/arrow-left.svg"
        style="width: 24px; height: 24px"
        alt=""
        (click)="goToProfile()"
      />
    </div>

    <div class="container-title-subtitle">
      <h1 class="title">{{ "text.chat" | translate }}</h1>
    </div>
  </div>

  <div *ngIf="isLoading">
    <app-load-shimmer [height]="'50px'"></app-load-shimmer>

    <app-load-shimmer [height]="'50px'"></app-load-shimmer>

    <div class="custumer-shimmer">
      <app-load-shimmer [height]="'50px'"></app-load-shimmer>
    </div>

    <div class="custumer-shimmer-80">
      <app-load-shimmer [height]="'50px'"></app-load-shimmer>
    </div>
  </div>

  <app-system-unavailable
    *ngIf="showSystemUnavailable && !isLoading"
    (clickLoading)="tryAgain()"
    [infoMessage]="
      'No momento estamos com nossos serviços indisponíves, volte novamente mais tarde!'
    "
  >
  </app-system-unavailable>

  <div *ngIf="listChat.length === 0 && !showSystemUnavailable && !isLoading">
    <p class="subtitle">{{ "text.noChat" | translate }}</p>
  </div>

  <div *ngIf="!showSystemUnavailable && !isLoading">
    <ul>
      <li *ngFor="let chat of listChat" (click)="goToChat(chat)">
        <img [src]="chat.avatar" class="avatar" alt="" />
        <div>
          <p class="name">{{ chat.name }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
