.container {
  display: flex;
  flex-direction: column;
  padding: var(--space-medium);
  background-color: #f6f6f6;
  height: 100dvh;
  overflow: auto;
}

.header {
  padding: var(--space-medium);
}

.container-header {
  background-color: #fff;
  border-radius: 1rem;
}

.subtitle {
  color: var(--text-dark-secundary);
  margin-top: var(--space-small);
}

.container-title-subtitle {
  padding-inline: var(--space-medium);
  margin-top: var(--space-large);
  margin-bottom: var(--space-large);
}

.contain-body {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      padding-bottom: var(--space-medium);
      border-bottom: 1px solid #e2e2e2;
    }
  }
}

.avatar {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.last-message {
  color: var(--text-dark-secundary);
  font-size: var(--font-size-small);
  padding-top: var(--space-small);
}
