<div class="content">
  <header class="header">
    <button class="icon-button" (click)="goBack()">
      <span class="material-symbols-outlined">close</span>
    </button>
  </header>

  <div class="center-wrapper">
    <div class="emoji-wrapper">
      <div class="emoji-main">🔥</div>
      <div class="emoji-sparkle">✨</div>
      <div class="emoji-heart">💖</div>
    </div>

    <div class="success-card">
      <div class="card-glow"></div>

      <h2 class="card-title">Tudo certo!</h2>

      <p class="card-description">
        Seu post já está visível para seus matches e publicado temporariamente.
      </p>

      <div class="posts-section">
        <p class="posts-label">Posts Ativos</p>

        <div class="posts-list">
          <div class="post-item active">
            <div class="avatar countdown">
              <img src="https://i.pravatar.cc/150?img=12" />
            </div>
            <span>22m</span>
          </div>

          <div class="post-item">
            <div class="avatar">
              <img src="https://i.pravatar.cc/150?img=32" />
            </div>
            <span>4h</span>
          </div>

          <div class="post-item">
            <div class="avatar">
              <img src="https://i.pravatar.cc/150?img=45" />
            </div>
            <span>18h</span>
          </div>

          <div class="post-item new">
            <div class="avatar dashed">
              <span class="material-symbols-outlined">add</span>
            </div>
            <span>Novo</span>
          </div>
        </div>
      </div>

      <div class="actions">
        <button appButton class="btn-primary" (click)="goBack()">
          Ir para o Feed
          <span class="material-symbols-outlined">arrow_forward</span>
        </button>

        <button
          appButton="secondary"
          class="btn-secondary"
          (click)="takePicture()"
        >
          <span class="material-symbols-outlined">add_box</span>
          Criar outro Post
        </button>
      </div>
    </div>

    <div class="success-card success-card--not-aligned">
      <div class="content-text">
        <span class="material-symbols-outlined"> local_fire_department </span>
        <span class="text">Seu Post está no ar!</span>
      </div>
      <div class="description">
        <p>
          Ele ficará visível por
          <span class="highlight">30 minutos</span> para todos os seus matches.
          Aproveite enquanto dura!
        </p>
      </div>
    </div>
  </div>
</div>
