<div class="container">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToPostList()"
    />
  </div>

  <div class="contain-body">
    <h1 class="title">Compartilhado com sucesso!</h1>
    <div
      id="send-message"
      class="send-message"
      style="width: 270px; height: 270px"
    ></div>
    <div class="contain-subtitle">
      <p>Agora seu post está visível para todos no tempo escolhido!</p>
    </div>
  </div>
</div>
