<div class="container">
  <div class="container-header">
    <div class="header">
      <img
        src="assets/icon-static/arrow-left.svg"
        style="width: 24px; height: 24px"
        alt=""
        (click)="goToProfile()"
      />
    </div>

    <div class="container-title-subtitle">
      <h1 class="title">Perfil</h1>
      <p class="subtitle">Dados pessoais</p>
    </div>
  </div>

  <div class="contain-post-message">
    <app-system-unavailable
      *ngIf="showSystemUnavailable"
      (clickLoading)="tryAgain()"
      [infoMessage]="
        'No momento estamos com nossos serviços indisponíves, volte novamente mais tarde!'
      "
    >
    </app-system-unavailable>

    <section *ngIf="!showSystemUnavailable">
      <div *ngIf="isLoading">
        <app-load-shimmer [height]="'5rem'"></app-load-shimmer>
        <app-load-shimmer [height]="'5rem'"></app-load-shimmer>
        <app-load-shimmer [height]="'5rem'"></app-load-shimmer>
      </div>

      <div *ngIf="!isLoading">
        <ul appListStyle>
          <li>
            <span label>nome</span>
            <p>Thalysson Nascimento</p>
          </li>
          <li>
            <span label>email</span>
            <p>thalysson&#64;gmail.com</p>
          </li>
          <li>
            <span label>cidade</span>
            <p>João Pessoa</p>
          </li>
          <li>
            <span label>estado</span>
            <p>Paraíba</p>
          </li>
          <li>
            <span label>gênero</span>
            <p>Masculino</p>
          </li>
          <li>
            <span label>interesses</span>
            <p>Mulher</p>
          </li>
          <li>
            <span label>data de nascimento</span>
            <p>11/11/2000</p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
