<div class="container">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToProfile()"
    />
    <div class="container-title-subtitle">
      <h1 class="title">{{ "text.profile" | translate }}</h1>
      <p class="subtitle">{{ "text.personalData" | translate }}</p>
    </div>
  </div>

  <div *ngIf="isLoading">
    <app-load-shimmer [height]="'50px'"></app-load-shimmer>

    <app-load-shimmer [height]="'50px'"></app-load-shimmer>

    <div class="custumer-shimmer">
      <app-load-shimmer [height]="'50px'"></app-load-shimmer>
    </div>

    <div class="custumer-shimmer-80">
      <app-load-shimmer [height]="'50px'"></app-load-shimmer>
    </div>
  </div>

  <app-system-unavailable
    *ngIf="showSystemUnavailable && !isLoading"
    (clickLoading)="tryAgain()"
    [infoMessage]="
      'No momento estamos com nossos serviços indisponíves, volte novamente mais tarde!'
    "
  >
  </app-system-unavailable>

  <section *ngIf="!showSystemUnavailable && !isLoading">
    <ul appListStyle>
      <li>
        <span label>{{ "text.name" | translate }}</span>
        <p>{{ myProfile.name }}</p>
      </li>
      <li>
        <span label>{{ "text.email" | translate }}</span>
        <p>{{ myProfile.email }}</p>
      </li>
      <li>
        <span label>{{ "text.city" | translate }}</span>
        <p>{{ myProfile.UserLocation.city }}</p>
      </li>
      <li>
        <span label>{{ "text.state" | translate }}</span>
        <p>{{ myProfile.UserLocation.state }}</p>
      </li>
      <li>
        <span label>{{ "text.gender" | translate }}</span>
        <p>{{ myProfile.About.gender }}</p>
      </li>
      <li>
        <span label>{{ "text.interests" | translate }}</span>
        <p>{{ myProfile.About.interests }}</p>
      </li>
      <li>
        <span label>{{ "text.dateOfBirth" | translate }}</span>
        <p>{{ myProfile.About.dateOfBirth }}</p>
      </li>
    </ul>
    <div class="contain-button">
      <button appButtonStyle [buttonType]="'secondary'" (click)="openModal()">
        {{ "button.deleteAccount" | translate }}
      </button>
    </div>
  </section>
</div>

<app-modal #dialog>
  <div class="contain-title">
    <p class="title-error">
      {{ "text.titleConfirmDeleteAccount" | translate }}
    </p>
  </div>

  <div class="contain-description-error">
    <p class="description-error-message">
      {{ "text.descriptionConfirmDeleteAccount" | translate }}
    </p>
  </div>

  <div class="contain-button-system-unavailable">
    <button
      appButtonStyle
      class="button-delete-acount"
      [buttonType]="'secondary'"
      (click)="deleteAccount()"
    >
      <span *ngIf="!buttonDisalbled">{{
        "button.deleteAccount" | translate
      }}</span>
      <div *ngIf="buttonDisalbled" class="bouncing-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </button>
  </div>
</app-modal>
