.container {
  display: flex;
  flex-direction: column;
  padding: var(--space-medium);
  height: 100dvh;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.container-title-subtitle {
  margin-top: var(--space-xlarge);
  margin-bottom: var(--space-xlarge);
}

.subtitle {
  color: var(--text-dark-secundary);
  margin-top: var(--space-small);
}

.contain-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
