<div class="container">
  <div class="header">
    <img
      src="assets/icon-static/arrow-left.svg"
      style="width: 24px; height: 24px"
      alt=""
      (click)="goToProfile()"
    />
    <div class="container-title-subtitle">
      <h1 class="title">Perfil</h1>
      <p class="subtitle">Dados pessoais</p>
    </div>
  </div>

  <div class="contain-loading" *ngIf="isLoading">
    <div id="lottie-icon-is-loading" class="lottie-icon-no-match"></div>
  </div>

  <app-system-unavailable
    *ngIf="showSystemUnavailable && !isLoading"
    (clickLoading)="tryAgain()"
    [infoMessage]="
      'No momento estamos com nossos serviços indisponíves, volte novamente mais tarde!'
    "
  >
  </app-system-unavailable>

  <section *ngIf="!showSystemUnavailable && !isLoading">
    <ul appListStyle>
      <li>
        <span label>nome</span>
        <p>{{ myProfile.name }}</p>
      </li>
      <li>
        <span label>email</span>
        <p>{{ myProfile.email }}</p>
      </li>
      <li>
        <span label>cidade</span>
        <p>{{ myProfile.UserLocation.city }}</p>
      </li>
      <li>
        <span label>estado</span>
        <p>{{ myProfile.UserLocation.state }}</p>
      </li>
      <li>
        <span label>gênero</span>
        <p>{{ myProfile.About.gender }}</p>
      </li>
      <li>
        <span label>interesses</span>
        <p>{{ myProfile.About.interests }}</p>
      </li>
      <li>
        <span label>data de nascimento</span>
        <p>{{ myProfile.About.dateOfBirth }}</p>
      </li>
    </ul>
    <div class="contain-button">
      <button appButtonStyle [buttonType]="'secondary'" (click)="openModal()">
        Deletar conta
      </button>
    </div>
  </section>
</div>

<app-modal #dialog>
  <div class="contain-title">
    <p class="title-error">Ops, realmente deseja deletar sua conta?</p>
  </div>

  <!-- <div class="contain-image">
    <img
      src="assets/icon-static/error-request.svg"
      class="image-error-request"
      alt=""
    />
  </div> -->

  <div class="contain-description-error">
    <p class="description-error-message">
      Após deletar sua conta você perderá todos os dados, seus posts e as
      amizadas realizadas.
    </p>
  </div>

  <div class="contain-button-system-unavailable">
    <button
      appButtonStyle
      class="button-delete-acount"
      [buttonType]="'secondary'"
      (click)="deleteAccount()"
    >
      <span *ngIf="!buttonDisalbled">Deletar conta</span>
      <div *ngIf="buttonDisalbled" class="bouncing-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </button>
  </div>
</app-modal>
