<div class="contain">
  <div class="header">
    <div class="contain-back-button">
      <img
        src="assets/icon-static/arrow-left.svg"
        (click)="goToBack()"
        alt=""
      />
    </div>
  </div>
  <div>
    <h1 class="title">Match</h1>
  </div>

  <div class="contain-image">
    <div class="image-background"></div>
    <div class="image-avatar-match">
      <img class="avatar" [src]="matchUser?.avatar" alt="" />
      <div class="infor-user-match">
        <p class="locarion-match">
          {{ matchUser?.UserLocation?.city }}/{{
            matchUser?.UserLocation?.stateCode
          }}
        </p>
        <p class="name-match">{{ nameUserFormated }}</p>
      </div>
    </div>
  </div>

  <div class="contain-description">
    <p class="description">O jeito mais rápido de fazer novas amizades!</p>
  </div>

  <div class="contain-button">
    <button appButtonStyle [buttonType]="'secondary'" (click)="goToProfile()">
      Conversar com {{ firstNameMatch }}
    </button>
  </div>
</div>
