.contain {
  width: 100%; // Ocupa 100% da largura da tela
  height: 100vh; // Ocupa 100% da altura da tela
  display: flex;
  flex-direction: column;
  position: relative; // Para posicionar os filhos de forma absoluta
}

.contain-image {
  width: 100%; // Pode ajustar conforme necessário
  height: auto; // Permite que a imagem mantenha a proporção
  position: relative; // Necessário para o z-index funcionar corretamente
  margin-top: 3rem;
}

.image-background {
  width: 100%; // Faz a imagem ocupar 100% da largura do contêiner
  height: auto; // Mantém a proporção da imagem
}

.header {
  width: 100%;
  padding: 1rem;
}

.contain-avatar-match {
  position: absolute; // Posiciona a div sobre a imagem
  width: 100%; // Ocupa 100% da largura do contêiner pai
  margin-top: 5rem;
  z-index: 1; // Garante que fique acima da imagem
  display: flex; // Para o layout interno
  flex-direction: column; // Para empilhar conteúdo
  align-items: center; // Centraliza o conteúdo
  justify-content: center; // Centraliza o conteúdo
  padding: 1rem;

  .left-content {
    width: 100%;
    text-align: left;
  }

  .right-content {
    width: 100%;
    text-align: right;
  }
}

.contain-button {
  width: 100%;
  padding: 1rem;
}

.title-pink {
  color: #d732a8;
}

.contain-description {
  margin-bottom: 2rem;
  text-align: center;
}

.contain-back-button {
  width: 100%;
}

//////////////////////////////////////////////
.contain-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

@keyframes slideUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  font-weight: 700;
  padding-left: 1rem;
  padding-top: 2rem;
  font-size: var(--font-size-xxlarge);
  color: var(--text-dark);
  position: relative; /* Necessário para que o `top` funcione */
  animation: slideUp 0.5s ease forwards;
  opacity: 0;
}

@keyframes animationRotateImageBackground {
  from {
    transform: rotate(12deg);
    opacity: 0;
  }
  to {
    transform: rotate(-12deg);
    opacity: 1;
  }
}

.image-background {
  width: 70%;
  height: 23rem;
  background-color: var(--color-light-dark);
  border-radius: 3rem;
  position: relative;
  transform: rotate(-12deg);
  animation: animationRotateImageBackground 0.5s ease forwards;
}

@keyframes animationRotateImageAvatar {
  from {
    transform: rotate(-12deg);
    opacity: 0;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}

.image-avatar-match {
  width: 70%;
  height: 23rem;
  background-color: var(--text-dark);
  border-radius: 3rem;
  position: absolute;
  animation: animationRotateImageAvatar 0.5s ease forwards;
  opacity: 0;
  animation-delay: 0.1s;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  object-fit: cover;
}

.name-match {
  font-size: var(--font-size-xxlarge);
  font-weight: 700;
}

.infor-user-match {
  position: absolute;
  bottom: 0; /* Posiciona no fundo da imagem */
  width: 100%;
  color: white;
  padding: 1rem;
  border-radius: 0 0 3rem 3rem; /* Bordas arredondadas para coincidir com o contorno da imagem */
}

.locarion-match,
.name-match {
  margin: 0;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.contain-description {
  margin: 2rem;
  text-align: center;
}

.description {
  font-weight: 700;
  color: var(--text-dark);
  animation: slideUp 0.5s ease forwards;
  opacity: 0;
  font-size: 1.5rem;
}
