:host {
  display: block;
  width: 100%;
}

.loading-bar {
  background-color: #d6d6d6;
  height: 5.5rem;
  width: 100%;
  margin-top: 10px;
  border-radius: 0.8rem;
  animation: pulse var(--animation-duration, 1s) ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }

  100% {
    background-color: #c2c2c2;
  }
}
