:host {
  display: block;
  width: 100%;
}

.loading-bar {
  position: relative;
  width: 100%;
  height: 5.5rem;
  background-color: #ccc;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 0.8rem;

  .shine {
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shine 2s infinite;
  }

  .delay {
    animation-delay: 1s; /* delay para a segunda barra */
  }
}

@keyframes shine {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
