.main-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--space-medium);
  align-items: center;

  button {
    background: transparent;
    border: none;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    touch-action: manipulation;
  }

  button:active {
    transform: scale(0.96);
  }

  button {
    transition: transform 0.08s ease-in-out;
  }
}

.icon-main-menu {
  height: 2rem;
  pointer-events: none;
}

.icon-likes {
  height: 3rem;
  pointer-events: none;
}
