<nav class="main-menu">
  <button (click)="onClick('profile')">
    <img
      class="icon-main-menu"
      src="assets/icon-static/main-menu/user-deactivite.svg"
      alt=""
    />
  </button>
  <button (click)="onClick('ai-profiles')">
    <img
      class="icon-main-menu"
      src="assets/icon-static/main-menu/ia-deactivite.svg"
      alt=""
    />
  </button>
  <button (click)="onClick('likes')">
    <img
      class="icon-likes"
      src="assets/icon-static/main-menu/main-menu.svg"
      alt=""
    />
  </button>
  <button (click)="onClick('favorites')">
    <img
      class="icon-main-menu"
      src="assets/icon-static/main-menu/fire-likes.svg"
      alt=""
    />
  </button>
  <button (click)="onClick('chat')">
    <img
      class="icon-main-menu"
      src="assets/icon-static/main-menu/chat.svg"
      alt=""
    />
  </button>
</nav>
