<app-load-shimmer [height]="'5.5rem'" *ngIf="isLoading"></app-load-shimmer>

<div *ngIf="showErrorStatict" class="contain-like-state">
  <p>
    {{ "text.errorOccurred" | translate }}<br />
    {{ "text.errorStatsCouldNotLoad" | translate }}
  </p>
</div>

<div class="contain-like-state" *ngIf="!isLoading && !showErrorStatict">
  <div class="contain-data">
    <p>{{ likePreferences.totalPosts }}</p>
    <span>{{ "text.totalPosts" | translate }}</span>
  </div>
  <div class="contain-data">
    <p>{{ likePreferences.totalReceivedLikes }}</p>
    <span>{{ "text.totalReceivedLikes" | translate }}</span>
  </div>
  <div class="contain-data">
    <p>{{ likePreferences.totalGivenLikes }}</p>
    <span>{{ "text.totalGivenLikes" | translate }}</span>
  </div>
</div>
