// @import "../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
// @import "../node_modules/@glidejs/glide/dist/css/glide.theme.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Garante que o padding e a border sejam incluídos nas dimensões dos elementos */
}

body {
  height: 100vh;
}

:root {
  --text-dark: #454545;
  --text-dark-secundary: #7b7b7b;
  --text-dark-d1: #828282;
  --primary-color: #dc6fa3;
  --color-light-dark: #d9d9d9;

  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 2rem;
  --space-xlarge: 3rem;
  --space-xxlarge: 4rem;

  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
  --font-size-xxlarge: 3rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--text-medium);
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
  color: --text-dark;
}

.mat-bottom-sheet-container {
  z-index: 2000; /* ou um valor alto o suficiente para estar sobre outros elementos */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
