@if (showRewardCard) {
<app-admob-video-reward (close)="closeVideoReward()"></app-admob-video-reward>
} @if (showCard) {
<app-like-limite-reward
  (closeCard)="closeCard()"
  (openReward)="openVideoReward()"
></app-like-limite-reward>
}

<div class="container">
  @if (!posts || posts.length === 0) {
  <div class="content">
    @if (profileAI) {
    <app-cards
      [name]="profileAI.name"
      [userProfile]="profileAI.typeProfle"
      [image]="profileAI.avatar"
      [badge]="'text.ai' | translate"
    ></app-cards>
    }
    <div class="card-explorer-ia">
      <div class="contain-description">
        <p class="contain-description-title">
          {{ "text.noProfilesFound" | translate }}
        </p>
        <span>{{ "text.iaProfileDescription" | translate }}</span>
      </div>
      <div class="contain-button">
        <button appButton (click)="goToIAProfile()">
          {{ "button.exploreIaProfile" | translate }}
        </button>
      </div>
    </div>
  </div>
  } @else {
  <div class="contain-swiper">
    <swiper-container
      #swiperRef
      class="list-post-message mySwiper"
      slides-per-view="1"
      space-between="10"
      centered-slides="true"
      grab-cursor="true"
    >
      <swiper-slide *ngFor="let post of posts" class="user-post-image">
        @if (post.type.includes('POST')) {
        <div class="post-card">
          <img class="user-post" [src]="post.image" alt="Post image" />
          <div class="contain-user-data">
            <div>
              <p class="user-name">{{ post.user.name }}</p>
              @if (post.user.UserLocation.city) {
              <div class="user-location">
                <span class="user-location__label">
                  <i class="fi fi-sr-marker"></i>
                  {{ post.user.UserLocation.city }}/{{
                    post.user.UserLocation.stateCode
                  }}
                </span>
              </div>
              } @else {
              <div class="user-location" (click)="goToSubscription()">
                <span class="user-location__label">
                  <i class="fi fi-sr-marker"></i>
                  <p>View location</p>
                </span>
              </div>
              }
            </div>
          </div>
        </div>
        } @else {
        <div class="fallback-card">
          @if (post.type.includes('AI_SUGGESTION') &&
          post.type.includes('WATCH_VIDEO')) {
          <div class="content">
            @if (profileAI) {
            <app-cards
              [name]="profileAI.name"
              [userProfile]="profileAI.typeProfle"
              [image]="profileAI.avatar"
              [badge]="'text.ai' | translate"
            ></app-cards>
            }
            <div class="card-explorer-ia">
              <div class="contain-description">
                <p class="contain-description-title">
                  {{ "text.noProfilesFound" | translate }}
                </p>
                <span>{{ "text.iaProfileDescription" | translate }}</span>
              </div>
              <div class="contain-button">
                <button appButton (click)="goToIAProfile()">
                  {{ "button.exploreIaProfile" | translate }}
                </button>
              </div>
            </div>
          </div>
          } @else if (post.type.includes('AI_SUGGESTION')) {
          <div class="content">
            @if (profileAI) {
            <app-cards
              [name]="profileAI.name"
              [userProfile]="profileAI.typeProfle"
              [image]="profileAI.avatar"
              [badge]="'text.ai' | translate"
            ></app-cards>
            }
            <div class="card-explorer-ia">
              <div class="contain-description">
                <p class="contain-description-title">
                  {{ "text.watchVideoReward" | translate }}
                </p>
                <span>{{ "text.iaProfileDescription" | translate }}</span>
              </div>
              <div class="contain-button">
                <button appButton (click)="goToIAProfile()">
                  {{ "button.exploreIaProfile" | translate }}
                </button>
              </div>
            </div>
          </div>
          } @else if (post.type.includes('LIKE_LIMIT')) {
          <div class="fallback-content">
            <p>{{ "text.limitLike" | translate }}</p>
          </div>
          } @else {
          <div class="fallback-content">
            <p>Conteúdo não suportado</p>
          </div>
          }
        </div>
        }
      </swiper-slide>
    </swiper-container>

    @if (showLikeButton && activePost) {
    <div class="heater">
      <button class="like-button" type="button" (click)="likePostMessage()">
        <span class="material-symbols-rounded">favorite</span>
      </button>
    </div>
    }
  </div>
  }
</div>
