<div class="contain-bottomsheet">
  <ul class="list-action-timer">
    <li class="action-timer" (click)="takePhoto()">
      <div class="contain-icon-and-description">
        <img
          src="assets/icon-static/icon-camera.svg"
          class="icon-choose-photo"
          alt=""
        />
        <div>
          <p>{{ "button.takePhoto" | translate }}</p>
          <span class="drescription-timer">{{
            "text.descriptionTakePhoto" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>

    <li class="action-timer" (click)="chooseFromGallery()">
      <div class="contain-icon-and-description">
        <img
          src="assets/icon-static/gallery.svg"
          class="icon-choose-photo"
          alt=""
        />
        <div>
          <p>{{ "button.selectFromGallery" | translate }}</p>
          <span class="drescription-timer">{{
            "text.descriptionFromGrallery" | translate
          }}</span>
        </div>
      </div>
      <img src="assets/icon-static/arrow-right.svg" alt="" />
    </li>
  </ul>
</div>
